# **Trabalhando** com dask (pela primeira vez)

- https://docs.dask.org/en/latest/dataframe-parquet.html
- https://www.analyticsvidhya.com/blog/2018/08/dask-big-datasets-machine_learning-python/
- https://www.youtube.com/watch?v=WLBEzlwvCp4

In [ ]:
!pip install "dask[complete]"

Requirement already satisfied: dask[complete] in /usr/local/lib/python3.11/dist-packages (2024.12.1)
Requirement already satisfied: click>=8.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (8.2.1)
Requirement already satisfied: cloudpickle>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (2025.3.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (24.2)
Requirement already satisfied: partd>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (0.12.1)
Requirement already satisfied: importlib_metadata>=4.13.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (8.7.0)
Requirement already satisfied: pyarrow>=14.0.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (18.1.0)
Requirement already satisfied: lz4>=4.3.2 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (4.4.4)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib_metadata>=4.13.0->dask[complete]) (3.23.0)
Requirement already satisfied: locket in /usr/local/lib/python3.11/dist-packages (from partd>=1.4.0->dask[complete]) (1.0.0)
Requirement already satisfied: numpy>=1.24 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (2.0.2)
Requirement already satisfied: pandas>=2.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (2.2.2)
Requirement already satisfied: dask-expr<1.2,>=1.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (1.1.21)
Requirement already satisfied: distributed==2024.12.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (2024.12.1)
Requirement already satisfied: bokeh>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (3.7.3)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (3.1.6)
Requirement already satisfied: msgpack>=1.0.2 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (1.1.1)
Requirement already satisfied: psutil>=5.8.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (5.9.5)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (3.1.0)
Requirement already satisfied: tornado>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (6.4.2)
Requirement already satisfied: urllib3>=1.26.5 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (2.4.0)
Requirement already satisfied: zict>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (3.0.0)
Requirement already satisfied: contourpy>=1.2 in /usr/local/lib/python3.11/dist-packages (from bokeh>=3.1.0->dask[complete]) (1.3.2)
Requirement already satisfied: narwhals>=1.13 in /usr/local/lib/python3.11/dist-packages (from bokeh>=3.1.0->dask[complete]) (1.45.0)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from bokeh>=3.1.0->dask[complete]) (11.2.1)
Requirement already satisfied: xyzservices>=2021.09.1 in /usr/local/lib/python3.11/dist-packages (from bokeh>=3.1.0->dask[complete]) (2025.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2>=2.10.3->dask[complete]) (3.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.0->dask[complete]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.0->dask[complete]) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.0->dask[complete]) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=2.0->dask[complete]) (1.17.0)

In [ ]:
import dask
import dask.dataframe as dd

import numpy as np
import pandas as pd

In [ ]:
path = '/content/MICRODADOS_ENEM_1998.csv'

In [ ]:
# assume_missing=True, permite que o Dask lide corretamente com dados contendo valores faltantes em colunas que, de outra forma, seriam considerados exclusivamente numéricos.
df = dd.read_csv(path, assume_missing = True, sep = ';')
df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,TP_PRESENCA,CO_PROVA,...,Q128,Q129,Q130,Q131,Q132,Q133,Q134,Q135,Q136,Q137
0,1.0,1998.0,4.0,F,2408003.0,MOSSORO,24.0,RN,1.0,B,...,A,B,A,B,B,B,B,B,B,B
1,2.0,1998.0,2.0,F,2401453.0,BARAUNA,24.0,RN,1.0,B,...,B,B,A,A,B,C,A,A,A,A
2,3.0,1998.0,3.0,M,2408003.0,MOSSORO,24.0,RN,1.0,Z,...,A,A,A,A,C,C,C,C,C,C
3,4.0,1998.0,3.0,M,2408003.0,MOSSORO,24.0,RN,1.0,G,...,B,B,A,A,C,C,B,B,B,B
4,5.0,1998.0,6.0,M,2413102.0,SENADOR ELOI DE SOUZA,24.0,RN,1.0,A,...,A,A,A,A,B,C,B,B,B,B

In [ ]:
print('Quantidade de linhas: ', len(df))
print('Quantidade de colunas: ', len(df.columns)) #df.shape[0].compute()
#df.info() #mostra quantas colunas existem, qual é a primeira e qual é a última, além do count dos tipos dessas colunas

Quantidade de linhas:  24813
Quantidade de colunas:  163

In [ ]:
list(df.columns)

['NU_INSCRICAO',
 'NU_ANO',
 'TP_FAIXA_ETARIA',
 'TP_SEXO',
 'CO_MUNICIPIO_RESIDENCIA',
 'NO_MUNICIPIO_RESIDENCIA',
 'CO_UF_RESIDENCIA',
 'SG_UF_RESIDENCIA',
 'TP_PRESENCA',
 'CO_PROVA',
 'VL_PERC_COMP1',
 'VL_PERC_COMP2',
 'VL_PERC_COMP3',
 'VL_PERC_COMP4',
 'VL_PERC_COMP5',
 'NU_NOTA_OBJETIVA',
 'TX_RESPOSTAS_OBJETIVA',
 'TX_GABARITO_OBJETIVA',
 'TP_STATUS_REDACAO',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_REDACAO',
 'IN_QSE',
 'Q1',
 'Q2',
 'Q3',
 'Q4',
 'Q5',
 'Q6',
 'Q7',
 'Q8',
 'Q9',
 'Q10',
 'Q11',
 'Q12',
 'Q13',
 'Q14',
 'Q15',
 'Q16',
 'Q17',
 'Q18',
 'Q19',
 'Q20',
 'Q21',
 'Q22',
 'Q23',
 'Q24',
 'Q25',
 'Q26',
 'Q27',
 'Q28',
 'Q29',
 'Q30',
 'Q31',
 'Q32',
 'Q33',
 'Q34',
 'Q35',
 'Q36',
 'Q37',
 'Q38',
 'Q39',
 'Q40',
 'Q41',
 'Q42',
 'Q43',
 'Q44',
 'Q45',
 'Q46',
 'Q47',
 'Q48',
 'Q49',
 'Q50',
 'Q51',
 'Q52',
 'Q53',
 'Q54',
 'Q55',
 'Q56',
 'Q57',
 'Q58',
 'Q59',
 'Q60',
 'Q61',
 'Q62',
 'Q63',
 'Q64',
 'Q65',
 'Q66',
 'Q67',
 'Q68',
 'Q69',
 'Q70',
 'Q71',
 'Q72',
 'Q73',
 'Q74',
 'Q75',
 'Q76',
 'Q77',
 'Q78',
 'Q79',
 'Q80',
 'Q81',
 'Q82',
 'Q83',
 'Q84',
 'Q85',
 'Q86',
 'Q87',
 'Q88',
 'Q89',
 'Q90',
 'Q91',
 'Q92',
 'Q93',
 'Q94',
 'Q95',
 'Q96',
 'Q97',
 'Q98',
 'Q99',
 'Q100',
 'Q101',
 'Q102',
 'Q103',
 'Q104',
 'Q105',
 'Q106',
 'Q107',
 'Q108',
 'Q109',
 'Q110',
 'Q111',
 'Q112',
 'Q113',
 'Q114',
 'Q115',
 'Q116',
 'Q117',
 'Q118',
 'Q119',
 'Q120',
 'Q121',
 'Q122',
 'Q123',
 'Q124',
 'Q125',
 'Q126',
 'Q127',
 'Q128',
 'Q129',
 'Q130',
 'Q131',
 'Q132',
 'Q133',
 'Q134',
 'Q135',
 'Q136',
 'Q137']

In [ ]:
df.describe().compute()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,TP_PRESENCA,VL_PERC_COMP1,VL_PERC_COMP2,VL_PERC_COMP3,VL_PERC_COMP4,VL_PERC_COMP5,NU_NOTA_OBJETIVA,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,IN_QSE
count,24813.000000,24813.0,24813.000000,2.481300e+04,24813.000000,24813.000000,24813.000000,24813.000000,24813.000000,24813.000000,24813.000000,24813.000000,24813.000000,24813.000000,24813.000000,24813.0,24813.0,24813.000000,24813.000000
mean,13023.298070,1998.0,4.521823,2.562035e+06,25.517309,0.612502,26.340499,25.572784,25.060372,23.232886,24.000645,25.023955,15.576714,6.400677,5.220449,0.0,0.0,27.197840,0.601298
std,7562.818409,0.0,3.235126,4.848552e+05,4.799628,0.487189,25.309877,24.143402,23.873012,23.184582,23.272659,23.638742,18.978474,7.025163,6.379642,0.0,0.0,31.184574,0.489641
min,1.000000,1998.0,1.000000,1.100023e+06,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
25%,6448.000000,1998.0,2.000000,2.408102e+06,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
50%,12970.000000,1998.0,3.000000,2.610707e+06,26.000000,1.000000,26.700000,26.200000,25.000000,20.800000,23.300000,27.000000,0.000000,5.000000,0.000000,0.0,0.0,10.000000,1.000000
75%,19596.000000,1998.0,6.000000,2.804805e+06,28.000000,1.000000,43.300000,42.900000,41.700000,37.500000,40.000000,41.300000,30.000000,10.000000,10.000000,0.0,0.0,50.000000,1.000000
max,26110.000000,1998.0,18.000000,4.107900e+06,41.000000,1.000000,100.000000,97.600000,97.200000,100.000000,96.700000,96.800000,60.000000,20.000000,20.000000,0.0,0.0,100.000000,1.000000

### Seleção das variáveis e seus preenchimentos

In [ ]:
#filtro de variáveis
df_subset = df[['NU_ANO','TP_FAIXA_ETARIA','TP_SEXO', 'SG_UF_RESIDENCIA','TP_PRESENCA','CO_PROVA','NU_NOTA_OBJETIVA','TP_STATUS_REDACAO','NU_NOTA_REDACAO','IN_QSE', 'Q2', 'Q4', 'Q5', 'Q6', 'Q7', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q17', 'Q18', 'Q22', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q68', 'Q69', 'Q70', 'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q97', 'Q98', 'Q114', 'Q116', 'Q118', 'Q119', 'Q120', 'Q121', 'Q122', 'Q123', 'Q124', 'Q125', 'Q126', 'Q127', 'Q128', 'Q129', 'Q130', 'Q131', 'Q132', 'Q134', 'Q135', 'Q136']]

In [ ]:
print('Quantidade de linhas: ', len(df_subset))
print('Quantidade de colunas: ', len(df_subset.columns)) #df_subset.shape[0].compute()

Quantidade de linhas:  24813
Quantidade de colunas:  59

In [ ]:
df_subset.compute()

,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,SG_UF_RESIDENCIA,TP_PRESENCA,CO_PROVA,NU_NOTA_OBJETIVA,TP_STATUS_REDACAO,NU_NOTA_REDACAO,IN_QSE,...,Q126,Q127,Q128,Q129,Q130,Q131,Q132,Q134,Q135,Q136
0,1998.0,4.0,F,RN,1.0,B,38.1,P,30.0,1.0,...,A,B,A,B,A,B,B,B,B,B
1,1998.0,2.0,F,RN,1.0,B,28.6,P,15.0,1.0,...,A,B,B,B,A,A,B,A,A,A
2,1998.0,3.0,M,RN,1.0,Z,49.2,P,40.0,1.0,...,A,A,A,A,A,A,C,C,C,C
3,1998.0,3.0,M,RN,1.0,G,34.9,P,50.0,1.0,...,A,A,B,B,A,A,C,B,B,B
4,1998.0,6.0,M,RN,1.0,A,36.5,P,55.0,1.0,...,A,B,A,A,A,A,B,B,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24808,1998.0,4.0,F,MG,1.0,B,25.4,P,0.0,1.0,...,A,B,A,C,*,C,C,A,C,C
24809,1998.0,13.0,F,MG,1.0,Z,34.9,P,35.0,1.0,...,A,B,A,B,A,B,B,C,C,A
24810,1998.0,7.0,F,MG,1.0,G,41.3,P,60.0,1.0,...,A,B,A,B,A,B,B,B,B,A
24811,1998.0,2.0,F,MG,0.0,<NA>,0.0,F,0.0,0.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
24812,1998.0,2.0,F,MG,1.0,B,71.4,P,70.0,1.0,...,A,D,C,B,B,B,B,B,A,A

In [ ]:
# Renomeando vairáveis
df_renomeado = df_subset.rename(columns={'IN_QSE': 'RESP_QUEST_SOCIO',
                                  'Q2': 'ANO_NASC',
                                  'Q4': 'RACA_COR',
                                  'Q5': 'ESTADO_CIVIL',
                                  'Q6': 'CQUEM_MORA',
                                  'Q7': 'QTD_PESSOAS_DOMICILIO',
                                  'Q9': 'QTD_FILHOS',
                                  'Q10': 'ESC_PAI',
                                  'Q11': 'PROF_PAI',
                                  'Q12': 'ESC_MAE',
                                  'Q13': 'PROF_MAE',
                                  'Q17': 'MOD_CONCL_ENS_FUND',
                                  'Q18': 'ANO_CONCL_ENS_MEDIO',
                                  'Q22': 'TIPO_ESC_ENS_MEDIO',
                                  'Q25': 'LINGUA_ESTR',
                                  'Q26': 'COMP_INFOR',
                                  'Q27': 'INS_MUSIC',
                                  'Q28': 'GINASTICA',
                                  'Q29': 'ART_PLAST',
                                  'Q68': 'AMG_DROGAS',
                                  'Q69': 'ACOMP_POLITICA',
                                  'Q70': 'ACOMP_ESPORTES',
                                  'Q71': 'ACOMP_ECONOMIA',
                                  'Q72': 'ACOMP_MODAS',
                                  'Q73': 'ACOMP_CULTURAS',
                                  'Q74': 'ACOMP_COMP_SEXUAL',
                                  'Q75': 'ACOMP_MEIO_AMBIENTE',
                                  'Q76': 'INT_SOCIAIS',
                                  'Q97': 'TRAB_ATUALMENTE',
                                  'Q98': 'RENDA_MENSAL',
                                  'Q114': 'QUAL_ATIVIDADE',
                                  'Q116': 'TEMPO_TRABALHO',
                                  'Q118': 'MOTIVO_NAO_TRAB',
                                  'Q119': 'PART_SUST_FAM',
                                  'Q120': 'RENDA_TOTAL_MENSAL',
                                  'Q121': 'AUTOMOVEL',
                                  'Q122': 'TV_CORES',
                                  'Q123': 'MICROCOMPUTADOR',
                                  'Q124': 'VIDEOCASSETE',
                                  'Q125': 'MAQ_LAVAR_ROUPA',
                                  'Q126': 'ASPIRADOR_PO',
                                  'Q127': 'GELADEIRA',
                                  'Q128': 'FREEZER',
                                  'Q129': 'CASA_PROPRIA',
                                  'Q130': 'EMPREGADA',
                                  'Q131': 'BICILETA',
                                  'Q132': 'MOTOCICLETA',
                                  'Q134': 'INST_MUSICAL',
                                  'Q135': 'MESA_ESTUDOS',
                                  'Q136': 'CALCULADORA'})

In [ ]:
# Renomeando o conteúdo
mapeamentos = {
    'TP_FAIXA_ETARIA': {          # coluna → {código: rótulo}
        '1': 'Menos de 17 anos',
        '2': '17 anos',
        '3': '18 anos',
        '4': '19 anos',
        '5': '20 anos',
        '6': '21 anos',
        '7': '22 anos',
        '8': '23 anos',
        '9': '24 anos',
        '10': '25 anos',
        '11': 'Entre 26 e 30 anos',
        '12': 'Entre 31 e 35 anos',
        '13': 'Entre 36 e 40 anos',
        '14': 'Entre 41 e 45 anos',
        '15': 'Entre 46 e 50 anos',
        '16': 'Entre 51 e 55 anos',
        '17': 'Entre 56 e 60 anos',
        '18': 'Entre 61 e 65 anos',
        '19': 'Entre 66 e 70 anos',
        '20': 'Maior de 70 anos'
    },
    'CO_PROVA': {
        'A': 'Amarela',
        'B': 'Branca',
        'G': 'Grafite',
        'Z': 'Azul'
    },
    'TP_PRESENCA': {
        '0': 'Faltou',
        '1': 'Presente'
    },
    'TP_STATUS_REDACAO': {
        'F': 'Faltou',
        'P': 'Presente'
    },
    'RESP_QUEST_SOCIO': {
        '0': 'Não respondeu',
        '1': 'Respondeu'
    },
    'ANO_NASC': {
        'A': 'Após 1981',
        'B': '1981',
        'C': '1980',
        'D': '1979',
        'E': '1978',
        'F': '1977',
        'G': 'Entre 1973 e 1976',
        'H': 'Antes de 1973'
    },
    'RACA_COR': {
        'A': 'Branco',
        'B': 'Pardo',
        'C': 'Negro',
        'D': 'Amarelo',
        'E': 'Indigena'
    },
    'ESTADO_CIVIL' : {
        'A': 'Solteiro',
        'B': 'Casado/mora com companheiro(a)',
        'C': 'Separado/Divorciado/Desquitado',
        'D': 'Viúvo'
    },
    'CQUEM_MORA' : {
        'A': 'Com o pai e a mãe',
        'B': 'Só com o pai',
        'C': 'Só com a mãe',
        'D': 'Com parentes/amigos',
        'E': 'Com pai e mãe em nova união',
        'F': 'Sozinho',
        'G': 'Outra situação'
    },
    'QTD_PESSOAS_DOMICILIO' : {
        'A': 'Uma pessoa',
        'B': 'Duas pessoas',
        'C': 'Três pessoas',
        'D': 'Quatro pessoas',
        'E': 'Cinco pessoas',
        'F': 'Seis pessoas',
        'G': 'Mais de seis pessoas'
    },
    'QTD_FILHOS': {
        'A': 'Não tenho filhos',
        'B': 'Um filho',
        'C': 'Dois filhos',
        'D': 'Três filhos',
        'E': 'Quatro ou mais filhos'
    },
    'ESC_PAI' : {
        'A': 'Nunca frequentou a escola',
        'B': 'Da primeira à quarta série do ensino fundamental (antigo primário)',
        'C': 'Da quinta à oitava série do ensino fundamental (antigo ginásio)',
        'D': 'Ensino Médio (2º grau) incompleto',
        'E': 'Ensino Médio (2º grau) completo',
        'F': 'Ensino Superior incompleto',
        'G': 'Ensino Superior completo',
        'H': 'Pós-graduação'
    },
    'PROF_PAI' : {
        'A': 'Trabalhadora do setor de produção industrial (com registro ou carteira assinada)',
        'B': 'Trabalhadora do setor primário/agricultura/pecuária/pesca (com registro ou carteira assinada)',
        'C': 'Trabalhadora do setor de prestação de serviços/comércio/banco/transporte, etc. (com registro ou carteira assinada)',
        'D': 'Funcionária do setor público',
        'E': 'Gerente, administradora ou diretora de empresa privada',
        'F': 'Trabalha no próprio negócio/empresa ou comércio próprio',
        'G': 'Profissional liberal, professor, técnico de nível superior',
        'H': 'Trabalhador do setor informal (sem carteira assinada)',
        'I': 'Desempregado',
        'J': 'Aposentado',
        'L': 'Não sei'
    },
    'ESC_MAE' : {
        'A': 'Nunca frequentou a escola',
        'B': 'Da primeira à quarta série do ensino fundamental (antigo primário)',
        'C': 'Da quinta à oitava série do ensino fundamental (antigo ginásio)',
        'D': 'Ensino Médio (2º grau) incompleto',
        'E': 'Ensino Médio (2º grau) completo',
        'F': 'Ensino Superior incompleto',
        'G': 'Ensino Superior completo',
        'H': 'Pós-graduação'
    },
    'PROF_MAE' : {
        'A': 'Trabalhadora do setor de produção industrial (com registro ou carteira assinada)',
        'B': 'Trabalhadora do setor primário/agricultura/pecuária/pesca (com registro ou carteira assinada)',
        'C': 'Trabalhadora do setor de prestação de serviços/comércio/banco/transporte, etc. (com registro ou carteira assinada)',
        'D': 'Funcionária do setor público',
        'E': 'Gerente, administradora ou diretora de empresa privada',
        'F': 'Trabalha no próprio negócio/empresa ou comércio próprio',
        'G': 'Profissional liberal, professora, técnico de nível superior',
        'H': 'Trabalhadora do setor informal (sem carteira assinada)',
        'I': 'Desempregada',
        'J': 'Aposentada',
        'L': 'Dona de casa',
        'M': 'Não sei'
    },
    'MOD_CONCL_ENS_FUND' : {
        'A': 'Ensino regular',
        'B': 'Ensino supletivo'
    },
    'ANO_CONCL_ENS_MEDIO' : {
        'A': 'Vou concluí-lo no segundo semestre de 1998',
        'B': 'Concluí-o no primeiro semestre de 1998',
        'C': 'Concluí-o em 1997',
        'D': 'Concluí-o em 1996',
        'E': 'Concluí-o em 1995',
        'F': 'Concluí-o entre 1991 e 1994',
        'G': 'Concluí-o antes de 1991'
    },
    'TIPO_ESC_ENS_MEDIO' : {
        'A': 'Federal',
        'B': 'Estadual',
        'C': 'Municipal',
        'D': 'Particular'
    },
    'LINGUA_ESTR' : {
        'A': 'Sim',
        'B': 'Não'
    },
    'COMP_INFOR' : {
        'A': 'Sim',
        'B': 'Não'
    },
    'INS_MUSIC' : {
        'A': 'Sim',
        'B': 'Não'
    },
    'GINASTICA' : {
        'A': 'Sim',
        'B': 'Não'
    },
    'ART_PLAST' : {
        'A': 'Sim',
        'B': 'Não'
    },
    'AMG_DROGAS' : {
        'A': 'Sim, amigos próximos',
        'B': 'Sim, amigos distantes',
        'C': 'Não'
    },
    'ACOMP_POLITICA' : {
        'A': 'Sim, muito',
        'B': 'Sim, mais ou menos',
        'C': 'Só um pouco',
        'D': 'Não, não me interesso'
    },
    'ACOMP_ESPORTES' : {
        'A': 'Sim, muito',
        'B': 'Sim, mais ou menos',
        'C': 'Só um pouco',
        'D': 'Não, não me interesso'
    },
    'ACOMP_ECONOMIA' : {
        'A': 'Sim, muito',
        'B': 'Sim, mais ou menos',
        'C': 'Só um pouco',
        'D': 'Não, não me interesso'
    },
    'ACOMP_MODAS' : {
        'A': 'Sim, muito',
        'B': 'Sim, mais ou menos',
        'C': 'Só um pouco',
        'D': 'Não, não me interesso'
    },
    'ACOMP_CULTURAS' : {
        'A': 'Sim, muito',
        'B': 'Sim, mais ou menos',
        'C': 'Só um pouco',
        'D': 'Não, não me interesso'
    },
    'ACOMP_COMP_SEXUAL' : {
        'A': 'Sim, muito',
        'B': 'Sim, mais ou menos',
        'C': 'Só um pouco',
        'D': 'Não, não me interesso'
    },
    'ACOMP_MEIO_AMBIENTE' : {
        'A': 'Sim, muito',
        'B': 'Sim, mais ou menos',
        'C': 'Só um pouco',
        'D': 'Não, não me interesso'
    },
    'INT_SOCIAIS' : {
        'A': 'Sim, muito',
        'B': 'Sim, mais ou menos',
        'C': 'Só um pouco',
        'D': 'Não, não me interesso'
    },
    'TRAB_ATUALMENTE' : {
        'A': 'Sim',
        'B': 'Não'
    },
    'RENDA_MENSAL' : {
        'A': 'Até 1 salário mínimo (até R$130,00)',
        'B': 'Entre 1 e 2 salários mínimos (entre R$131,00 e R$260,00)',
        'C': 'De 2 a 5 salários mínimos (de R$261,00 a R$650,00)',
        'D': 'De 5 a 10 salário mínimos (de R$651,00 a R$1.300,00)',
        'E': 'De 10 a 30 salários mínimos (de R$1.301,00 a R$3.900,00)',
        'F': 'De 30 a 50 salários mínimos (de R$3.901,00 a R$6.500,00)',
        'G': 'Mais de 50 salários mínimos (mais de R$6.500,00)'
    },
    'QUAL_ATIVIDADE' : {
        'A': 'Trabalhador do setor de produção industrial',
        'B': 'Trabalhador do setor primário/agricultura/pecuária/pesca',
        'C': 'Trabalhador do setor de prestação de serviços/comércio/banco/transporte',
        'D': 'Funcionário do setor público',
        'E': 'Gerente, administrador ou diretor de empresa privada',
        'F': 'Trabalha no próprio negócio/empresa ou comércio próprio',
        'G': 'Profissional liberal, professor, técnico de nível superior',
        'H': 'Trabalhador do setor informal (sem carteira assinada)'
    },
    'TEMPO_TRABALHO' : {
        'A': 'Menos de 1 ano',
        'B': 'Entre 1 e 2 anos',
        'C': 'Entre 2 e 4 anos',
        'D': 'Mais de 4 anos'
    },
    'MOTIVO_NAO_TRAB' : {
        'A': 'Não preciso trabalhar',
        'B': 'Estava trabalhando, mas estou desempregado(a)',
        'C': 'Não consigo encontrar um trabalho na minha ocupação',
        'D': 'Estou estudando'
    },
    'PART_SUST_FAM' : {
        'A': 'Sim, com todo o meu rendimento',
        'B': 'Sim, com parte do meu rendimento',
        'C': 'Não, tenho família, mas meus rendimentos são para meu próprio uso',
        'D': 'Não tenho rendimentos',
        'E': 'Não tenho família/meus rendimentos são só para meu próprio uso'
    },
    'RENDA_TOTAL_MENSAL' : {
        'A': 'Até 1 salário mínimo (até R$130,00)',
        'B': 'Entre 1 e 2 salários mínimos (entre R$131,00 e R$260,00)',
        'C': 'De 2 a 5 salários mínimos (de R$261,00 a R$650,00)',
        'D': 'De 5 a 10 salário mínimos (de R$651,00 a R$1.300,00)',
        'E': 'De 10 a 30 salários mínimos (de R$1.301,00 a R$3.900,00)',
        'F': 'De 30 a 50 salários mínimos (de R$3.901,00 a R$6.500,00)',
        'G': 'Mais de 50 salários mínimos (mais de R$6.500,00)',
        'H': 'Não sabe'
    },
    'AUTOMOVEL' : {

        'A': 'Não tem',
        'B': '1',
        'C': '2',
        'D': '3 ou mais'
    },
    'TV_CORES' : {
        'A': 'Não tem',
        'B': '1',
        'C': '2',
        'D': '3 ou mais'
    },
    'MICROCOMPUTADOR' : {
        'A': 'Não tem',
        'B': '1',
        'C': '2',
        'D': '3 ou mais'
    },
    'VIDEOCASSETE' : {
        'A': 'Não tem',
        'B': '1',
        'C': '2',
        'D': '3 ou mais'
    },
     'MAQ_LAVAR_ROUPA' : {
        'A': 'Não tem',
        'B': '1',
        'C': '2',
        'D': '3 ou mais'
    },
    'ASPIRADOR_PO' : {
        'A': 'Não tem',
        'B': '1',
        'C': '2',
        'D': '3 ou mais'
    },
    'GELADEIRA' : {
        'A': 'Não tem',
        'B': '1',
        'C': '2',
        'D': '3 ou mais'
    },
    'FREEZER' : {
        'A': 'Não tem',
        'B': '1',
        'C': '2',
        'D': '3 ou mais'
    },
     'CASA_PROPRIA' : {
        'A': 'Não tem',
        'B': '1',
        'C': '2',
        'D': '3 ou mais'
    },
    'EMPREGADA' : {
        'A': 'Não tem',
        'B': '1',
        'C': '2',
        'D': '3 ou mais'
    },
    'BICILETA' : {
        'A': 'Sim',
        'B': 'Não',
        'C': 'Não, mas pretendo ter num futuro próximo'
    },
    'MOTOCICLETA' : {
        'A': 'Sim',
        'B': 'Não',
        'C': 'Não, mas pretendo ter num futuro próximo'
    },
    'INST_MUSICAL' : {
        'A': 'Sim',
        'B': 'Não',
        'C': 'Não, mas pretendo ter num futuro próximo'
    },
     'MESA_ESTUDOS' : {
        'A': 'Sim',
        'B': 'Não',
        'C': 'Não, mas pretendo ter num futuro próximo'
    },
    'CALCULADORA' : {
        'A': 'Sim',
        'B': 'Não',
        'C': 'Não, mas pretendo ter num futuro próximo'
    }
}

In [ ]:
tipos = {
    'NU_ANO'                    : 'int64', # numérico inteiro
    'TP_FAIXA_ETARIA'           : 'category',        # mantém dicionário‑encoding eficiente
    'TP_SEXO'                   : 'category',
    'CO_PROVA'                  : 'category',
    'TP_PRESENCA'               : 'category',
    'CO_PROVA'                  : 'category',
    'TP_STATUS_REDACAO'         : 'category',
    'RESP_QUEST_SOCIO'          : 'category',
    'ANO_NASC'                  : 'category',
    'RACA_COR'                  : 'category',
    'ESTADO_CIVIL'              : 'category',
    'CQUEM_MORA'                : 'category',
    'QTD_PESSOAS_DOMICILIO'     : 'category',
    'QTD_FILHOS'                : 'category',
    'ESC_PAI'                   : 'category',
    'PROF_PAI'                  : 'category',
    'ESC_MAE'                   : 'category',
    'PROF_MAE'                  : 'category',
    'MOD_CONCL_ENS_FUND'        : 'category',
    'ANO_CONCL_ENS_MEDIO'       : 'category',
    'TIPO_ESC_ENS_MEDIO'        : 'category',
    'LINGUA_ESTR'               : 'category',
    'COMP_INFOR'                : 'category',
    'INS_MUSIC'                 : 'category',
    'GINASTICA'                 : 'category',
    'ART_PLAST'                 : 'category',
    'AMG_DROGAS'                : 'category',
    'ACOMP_POLITICA'            : 'category',
    'ACOMP_ESPORTES'            : 'category',
    'ACOMP_ECONOMIA'            : 'category',
    'ACOMP_MODAS'               : 'category',
    'ACOMP_CULTURAS'            : 'category',
    'ACOMP_COMP_SEXUAL'         : 'category',
    'ACOMP_MEIO_AMBIENTE'       : 'category',
    'INT_SOCIAIS'               : 'category',
    'TRAB_ATUALMENTE'           : 'category',
    'RENDA_MENSAL'              : 'category',
    'QUAL_ATIVIDADE'            : 'category',
    'TEMPO_TRABALHO'            : 'category',
    'MOTIVO_NAO_TRAB'           : 'category',
    'PART_SUST_FAM'             : 'category',
    'RENDA_TOTAL_MENSAL'        : 'category',
    'AUTOMOVEL'                 : 'category',
    'TV_CORES'                  : 'category',
    'MICROCOMPUTADOR'           : 'category',
    'VIDEOCASSETE'              : 'category',
    'MAQ_LAVAR_ROUPA'           : 'category',
    'ASPIRADOR_PO'              : 'category',
    'GELADEIRA'                 : 'category',
    'FREEZER'                   : 'category',
    'CASA_PROPRIA'              : 'category',
    'EMPREGADA'                 : 'category',
    'BICILETA'                  : 'category',
    'MOTOCICLETA'               : 'category',
    'INST_MUSICAL'              : 'category',
    'MESA_ESTUDOS'              : 'category',
    'CALCULADORA'               : 'category'
}

In [ ]:
df_padronizado = df_renomeado.replace(mapeamentos)

In [ ]:
# filtra os tipos para remover as colunas que são datas (cujo tipo é 'datetime64[ns]' ou 'datetime64[ns, UTC])'.
# cria um novo dicionário chamado numeros_e_cats com apenas os tipos numéricos e categóricos
numeros_e_cats = {k: v for k, v in tipos.items()
                  if v not in ('datetime64[ns]', 'datetime64[ns, UTC]')}

# Aplicar conversão de tipo em lote
df_padronizado = df_padronizado.astype(numeros_e_cats)

In [ ]:
print(df_padronizado.dtypes)

NU_ANO                             int64
TP_FAIXA_ETARIA                 category
TP_SEXO                         category
SG_UF_RESIDENCIA         string[pyarrow]
TP_PRESENCA                     category
CO_PROVA                        category
NU_NOTA_OBJETIVA                 float64
TP_STATUS_REDACAO               category
NU_NOTA_REDACAO                  float64
RESP_QUEST_SOCIO                category
ANO_NASC                        category
RACA_COR                        category
ESTADO_CIVIL                    category
CQUEM_MORA                      category
QTD_PESSOAS_DOMICILIO           category
QTD_FILHOS                      category
ESC_PAI                         category
PROF_PAI                        category
ESC_MAE                         category
PROF_MAE                        category
MOD_CONCL_ENS_FUND              category
ANO_CONCL_ENS_MEDIO             category
TIPO_ESC_ENS_MEDIO              category
LINGUA_ESTR                     category
COMP_INFOR                      category
INS_MUSIC                       category
GINASTICA                       category
ART_PLAST                       category
AMG_DROGAS                      category
ACOMP_POLITICA                  category
ACOMP_ESPORTES                  category
ACOMP_ECONOMIA                  category
ACOMP_MODAS                     category
ACOMP_CULTURAS                  category
ACOMP_COMP_SEXUAL               category
ACOMP_MEIO_AMBIENTE             category
INT_SOCIAIS                     category
TRAB_ATUALMENTE                 category
RENDA_MENSAL                    category
QUAL_ATIVIDADE                  category
TEMPO_TRABALHO                  category
MOTIVO_NAO_TRAB                 category
PART_SUST_FAM                   category
RENDA_TOTAL_MENSAL              category
AUTOMOVEL                       category
TV_CORES                        category
MICROCOMPUTADOR                 category
VIDEOCASSETE                    category
MAQ_LAVAR_ROUPA                 category
ASPIRADOR_PO                    category
GELADEIRA                       category
FREEZER                         category
CASA_PROPRIA                    category
EMPREGADA                       category
BICILETA                        category
MOTOCICLETA                     category
INST_MUSICAL                    category
MESA_ESTUDOS                    category
CALCULADORA                     category
dtype: object

In [ ]:
for col in df_padronizado.columns:
    resultado = df_padronizado.groupby(col).size().compute()
    print(resultado)

NU_ANO
1998    24813
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_FAIXA_ETARIA
1.0     3634
2.0     4058
3.0     4774
4.0     3038
5.0     2259
6.0     1579
7.0     1184
8.0      808
9.0      631
10.0     445
11.0    1334
12.0     553
13.0     324
14.0     123
15.0      38
16.0      20
17.0       6
18.0       5
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_SEXO
F    15792
M     9020
dtype: int64
SG_UF_RESIDENCIA
AC      570
AL      166
AM      456
AP       47
BA      179
CE      666
MA       90
MG     5997
PA      288
PB      302
PE    10010
PI      103
PR        1
RJ        3
RN     4492
RO      108
RR      967
SE      319
SP        1
TO       48
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_PRESENCA
0.0     9615
1.0    15198
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

CO_PROVA
Amarela    4020
Azul       3961
Branca     3721
Grafite    3496
dtype: int64
NU_NOTA_OBJETIVA
0.0     9637
1.6        1
3.2        1
4.8        5
6.3        2
        ...
90.5      12
92.1       3
93.7       5
95.2       2
96.8       1
Length: 62, dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_STATUS_REDACAO
Faltou       9615
Presente    15198
dtype: int64
NU_NOTA_REDACAO
0.0      11640
5.0        516
10.0       497
15.0       279
20.0       459
25.0       902
30.0       701
35.0       696
40.0       408
45.0       694
50.0      1887
55.0      1099
60.0       906
65.0       508
70.0       747
75.0       905
80.0       570
85.0       307
90.0       294
95.0       368
100.0      430
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

RESP_QUEST_SOCIO
0.0     9893
1.0    14920
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ANO_NASC
*                      74
.                     100
1977                  944
1978                 1378
1979                 2025
1980                 3762
1981                 3384
Antes de 1973        1293
Após 1981             270
Entre 1973 e 1976    1690
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

RACA_COR
*             35
.            347
Amarelo      540
Branco      7228
Indigena     517
Negro        863
Pardo       5390
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ESTADO_CIVIL
*                                    28
.                                   119
Casado/mora com companheiro(a)     1163
Separado/Divorciado/Desquitado      137
Solteiro                          13454
Viúvo                                19
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

CQUEM_MORA
*                               110
.                               154
Com o pai e a mãe              8817
Com pai e mãe em nova união     393
Com parentes/amigos            1201
Outra situação                 1614
Sozinho                         156
Só com a mãe                   2258
Só com o pai                    217
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

QTD_PESSOAS_DOMICILIO
*                         52
.                        111
Cinco pessoas           3758
Duas pessoas             720
Mais de seis pessoas    2481
Quatro pessoas          3454
Seis pessoas            2363
Três pessoas            1815
Uma pessoa               166
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

QTD_FILHOS
*                           34
.                          159
Dois filhos                395
Não tenho filhos         13335
Quatro ou mais filhos       67
Três filhos                171
Um filho                   759
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ESC_PAI
*                                                                     1051
.                                                                      223
Da primeira à quarta série do ensino fundamental (antigo primário)    4923
Da quinta à oitava série do ensino fundamental (antigo ginásio)       2040
Ensino Médio (2º grau) completo                                       1893
Ensino Médio (2º grau) incompleto                                      816
Ensino Superior completo                                              1862
Ensino Superior incompleto                                             478
Nunca frequentou a escola                                             1183
Pós-graduação                                                          451
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

PROF_PAI
*                                                                                                                      200
.                                                                                                                      529
Aposentado                                                                                                            3005
Desempregado                                                                                                           945
Funcionária do setor público                                                                                          1913
Gerente, administradora ou diretora de empresa privada                                                                 376
Não sei                                                                                                               1164
Profissional liberal, professor, técnico de nível superior                                                             679
Trabalha no próprio negócio/empresa ou comércio próprio                                                               2283
Trabalhador do setor informal (sem carteira assinada)                                                                  866
Trabalhadora do setor de prestação de serviços/comércio/banco/transporte, etc. (com registro ou carteira assinada)    1508
Trabalhadora do setor de produção industrial (com registro ou carteira assinada)                                       741
Trabalhadora do setor primário/agricultura/pecuária/pesca (com registro ou carteira assinada)                          711
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ESC_MAE
*                                                                      393
.                                                                      127
Da primeira à quarta série do ensino fundamental (antigo primário)    4873
Da quinta à oitava série do ensino fundamental (antigo ginásio)       2561
Ensino Médio (2º grau) completo                                       2460
Ensino Médio (2º grau) incompleto                                      791
Ensino Superior completo                                              1816
Ensino Superior incompleto                                             436
Nunca frequentou a escola                                              984
Pós-graduação                                                          479
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

PROF_MAE
*                                                                                                                      168
.                                                                                                                      200
Aposentada                                                                                                            1408
Desempregada                                                                                                           359
Dona de casa                                                                                                          6606
Funcionária do setor público                                                                                          2182
Gerente, administradora ou diretora de empresa privada                                                                 133
Não sei                                                                                                                227
Profissional liberal, professora, técnico de nível superior                                                            864
Trabalha no próprio negócio/empresa ou comércio próprio                                                               1130
Trabalhadora do setor de prestação de serviços/comércio/banco/transporte, etc. (com registro ou carteira assinada)     764
Trabalhadora do setor de produção industrial (com registro ou carteira assinada)                                       215
Trabalhadora do setor informal (sem carteira assinada)                                                                 504
Trabalhadora do setor primário/agricultura/pecuária/pesca (com registro ou carteira assinada)                          160
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

MOD_CONCL_ENS_FUND
*                      32
.                     160
Ensino regular      14370
Ensino supletivo      358
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ANO_CONCL_ENS_MEDIO
*                                                73
.                                               376
Concluí-o antes de 1991                         178
Concluí-o em 1995                               217
Concluí-o em 1996                               295
Concluí-o em 1997                               472
Concluí-o entre 1991 e 1994                     179
Concluí-o no primeiro semestre de 1998          164
Vou concluí-lo no segundo semestre de 1998    12966
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TIPO_ESC_ENS_MEDIO
*                60
.               146
Estadual      10326
Federal         253
Municipal       555
Particular     3580
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

LINGUA_ESTR
*        63
.      1272
Não    8560
Sim    5025
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

COMP_INFOR
*        55
.      1275
Não    7790
Sim    5800
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

INS_MUSIC
*         19
.       1350
Não    12239
Sim     1312
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

GINASTICA
*        35
.      1321
Não    7570
Sim    5994
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ART_PLAST
*         11
.       1333
Não    12926
Sim      650
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

AMG_DROGAS
*                          198
.                          248
Não                      10023
Sim, amigos distantes     3032
Sim, amigos próximos      1419
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ACOMP_POLITICA
*                         334
.                         237
Não, não me interesso    3336
Sim, mais ou menos       4455
Sim, muito               2132
Só um pouco              4426
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ACOMP_ESPORTES
*                         419
.                         230
Não, não me interesso     883
Sim, mais ou menos       4954
Sim, muito               5663
Só um pouco              2771
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ACOMP_ECONOMIA
*                         402
.                         211
Não, não me interesso    1297
Sim, mais ou menos       5605
Sim, muito               3381
Só um pouco              4024
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ACOMP_MODAS
*                         353
.                         221
Não, não me interesso    3011
Sim, mais ou menos       4219
Sim, muito               3188
Só um pouco              3928
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ACOMP_CULTURAS
*                         368
.                         235
Não, não me interesso    1792
Sim, mais ou menos       4495
Sim, muito               4519
Só um pouco              3511
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ACOMP_COMP_SEXUAL
*                         410
.                         209
Não, não me interesso     223
Sim, mais ou menos       3267
Sim, muito               9845
Só um pouco               966
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ACOMP_MEIO_AMBIENTE
*                         389
.                         215
Não, não me interesso     319
Sim, mais ou menos       5088
Sim, muito               6907
Só um pouco              2002
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

INT_SOCIAIS
*                          393
.                          202
Não, não me interesso      100
Sim, mais ou menos        2893
Sim, muito               10684
Só um pouco                648
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TRAB_ATUALMENTE
*        12
.      7104
Não    4172
Sim    3632
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

RENDA_MENSAL
*                                                              19
.                                                           10825
Até 1 salário mínimo (até R$130,00)                          2082
De 10 a 30 salários mínimos (de R$1.301,00 a R$3.900,00)       18
De 2 a 5 salários mínimos (de R$261,00 a R$650,00)            454
De 30 a 50 salários mínimos (de R$3.901,00 a R$6.500,00)        3
De 5 a 10 salário mínimos (de R$651,00 a R$1.300,00)           84
Entre 1 e 2 salários mínimos (entre R$131,00 e R$260,00)     1431
Mais de 50 salários mínimos (mais de R$6.500,00)                4
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

QUAL_ATIVIDADE
*                                                                              9
.                                                                          14008
Funcionário do setor público                                                 183
Gerente, administrador ou diretor de empresa privada                          14
Profissional liberal, professor, técnico de nível superior                    92
Trabalha no próprio negócio/empresa ou comércio próprio                       53
Trabalhador do setor de prestação de serviços/comércio/banco/transporte      263
Trabalhador do setor de produção industrial                                   91
Trabalhador do setor informal (sem carteira assinada)                        175
Trabalhador do setor primário/agricultura/pecuária/pesca                      32
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TEMPO_TRABALHO
*                      15
.                   14014
Entre 1 e 2 anos      173
Entre 2 e 4 anos      133
Mais de 4 anos        215
Menos de 1 ano        370
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

MOTIVO_NAO_TRAB
*                                                         24
.                                                      13399
Estava trabalhando, mas estou desempregado(a)            224
Estou estudando                                          871
Não consigo encontrar um trabalho na minha ocupação      333
Não preciso trabalhar                                     69
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

PART_SUST_FAM
*                                                                     227
.                                                                     305
Não tenho família/meus rendimentos são só para meu próprio uso        295
Não tenho rendimentos                                                9024
Não, tenho família, mas meus rendimentos são para meu próprio uso    1379
Sim, com parte do meu rendimento                                     2771
Sim, com todo o meu rendimento                                        919
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

RENDA_TOTAL_MENSAL
*                                                             76
.                                                            494
Até 1 salário mínimo (até R$130,00)                          924
De 10 a 30 salários mínimos (de R$1.301,00 a R$3.900,00)    2052
De 2 a 5 salários mínimos (de R$261,00 a R$650,00)          3939
De 30 a 50 salários mínimos (de R$3.901,00 a R$6.500,00)     755
De 5 a 10 salário mínimos (de R$651,00 a R$1.300,00)        2528
Entre 1 e 2 salários mínimos (entre R$131,00 e R$260,00)    2533
Mais de 50 salários mínimos (mais de R$6.500,00)             340
Não sabe                                                    1279
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

AUTOMOVEL
*              84
.             352
1            4647
2            1726
3 ou mais     666
Não tem      7445
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TV_CORES
*              99
.             380
1            6668
2            3721
3 ou mais    3232
Não tem       820
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

MICROCOMPUTADOR
*               74
.              417
1             3051
2              474
3 ou mais      144
Não tem      10760
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

VIDEOCASSETE
*              58
.             370
1            7025
2            1328
3 ou mais     310
Não tem      5829
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

MAQ_LAVAR_ROUPA
*              41
.             365
1            7143
2             619
3 ou mais      84
Não tem      6668
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ASPIRADOR_PO
*              125
.              402
1             2524
2              229
3 ou mais       33
Não tem      11607
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

GELADEIRA
*               97
.              289
1            11603
2             1659
3 ou mais      405
Não tem        867
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

FREEZER
*              90
.             387
1            4579
2             704
3 ou mais     185
Não tem      8975
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

CASA_PROPRIA
*              96
.             357
1            9908
2            1640
3 ou mais     693
Não tem      2226
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

EMPREGADA
*               49
.              410
1             2763
2              601
3 ou mais      190
Não tem      10907
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

BICILETA
*                                             97
.                                            335
Não                                         6683
Não, mas pretendo ter num futuro próximo    1715
Sim                                         6090
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

MOTOCICLETA
*                                              74
.                                             411
Não                                         11136
Não, mas pretendo ter num futuro próximo     2784
Sim                                           515
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

INST_MUSICAL
*                                             81
.                                            414
Não                                         8658
Não, mas pretendo ter num futuro próximo    3053
Sim                                         2714
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

MESA_ESTUDOS
*                                             66
.                                            460
Não                                         5689
Não, mas pretendo ter num futuro próximo    3688
Sim                                         5017
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

CALCULADORA
*                                             49
.                                            360
Não                                         3498
Não, mas pretendo ter num futuro próximo    1083
Sim                                         9930
dtype: int64

### Escrita da base

In [ ]:
df_padronizado.to_parquet(
    'enem_1998/',
    engine='pyarrow',           # recomendado
    compression='snappy',       # rápido e eficiente
    write_index=False           # geralmente desnecessário em cargas
)

# df.to_csv("enem_1998.csv", single_file=True, index=False) #Escrita em csv

/usr/local/lib/python3.11/dist-packages/pyarrow/pandas_compat.py:625: FutureWarning: The dtype of the 'categories' of the passed categorical values (float64) does not match the specified type (string). For now ignoring the specified type, but in the future this mismatch will raise a TypeError
  arrays = [convert_column(c, f)

### Validação - escrita

In [ ]:
df_parquet = dd.read_parquet('/content/enem_1998/part.0.parquet', assume_missing = True)

In [ ]:
print('Quantidade de linhas: ', len(df_parquet))
print('Quantidade de colunas: ', len(df_parquet.columns)) #df_parquet.shape[0].compute()

Quantidade de linhas:  24813
Quantidade de colunas:  59

In [ ]:
print(df_parquet.dtypes)

NU_ANO                             int64
TP_FAIXA_ETARIA                 category
TP_SEXO                         category
SG_UF_RESIDENCIA         string[pyarrow]
TP_PRESENCA                     category
CO_PROVA                        category
NU_NOTA_OBJETIVA                 float64
TP_STATUS_REDACAO               category
NU_NOTA_REDACAO                  float64
RESP_QUEST_SOCIO                category
ANO_NASC                        category
RACA_COR                        category
ESTADO_CIVIL                    category
CQUEM_MORA                      category
QTD_PESSOAS_DOMICILIO           category
QTD_FILHOS                      category
ESC_PAI                         category
PROF_PAI                        category
ESC_MAE                         category
PROF_MAE                        category
MOD_CONCL_ENS_FUND              category
ANO_CONCL_ENS_MEDIO             category
TIPO_ESC_ENS_MEDIO              category
LINGUA_ESTR                     category
COMP_INFOR                      category
INS_MUSIC                       category
GINASTICA                       category
ART_PLAST                       category
AMG_DROGAS                      category
ACOMP_POLITICA                  category
ACOMP_ESPORTES                  category
ACOMP_ECONOMIA                  category
ACOMP_MODAS                     category
ACOMP_CULTURAS                  category
ACOMP_COMP_SEXUAL               category
ACOMP_MEIO_AMBIENTE             category
INT_SOCIAIS                     category
TRAB_ATUALMENTE                 category
RENDA_MENSAL                    category
QUAL_ATIVIDADE                  category
TEMPO_TRABALHO                  category
MOTIVO_NAO_TRAB                 category
PART_SUST_FAM                   category
RENDA_TOTAL_MENSAL              category
AUTOMOVEL                       category
TV_CORES                        category
MICROCOMPUTADOR                 category
VIDEOCASSETE                    category
MAQ_LAVAR_ROUPA                 category
ASPIRADOR_PO                    category
GELADEIRA                       category
FREEZER                         category
CASA_PROPRIA                    category
EMPREGADA                       category
BICILETA                        category
MOTOCICLETA                     category
INST_MUSICAL                    category
MESA_ESTUDOS                    category
CALCULADORA                     category
dtype: object

In [ ]:
for col in df_parquet.columns:
    resultado = df_parquet.groupby(col).size().compute()
    print(resultado)

NU_ANO
1998    24813
dtype: int64
TP_FAIXA_ETARIA
1     3634
2     4058
3     4774
4     3038
5     2259
6     1579
7     1184
8      808
9      631
10     445
11    1334
12     553
13     324
14     123
15      38
16      20
17       6
18       5
dtype: int64
TP_SEXO
F    15792
M     9020
dtype: int64
SG_UF_RESIDENCIA
AC      570
AL      166
AM      456
AP       47
BA      179
CE      666
MA       90
MG     5997
PA      288
PB      302
PE    10010
PI      103
PR        1
RJ        3
RN     4492
RO      108
RR      967
SE      319
SP        1
TO       48
dtype: int64
TP_PRESENCA
0     9615
1    15198
dtype: int64
CO_PROVA
Amarela    4020
Azul       3961
Branca     3721
Grafite    3496
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

NU_NOTA_OBJETIVA
0.0     9637
1.6        1
3.2        1
4.8        5
6.3        2
        ...
90.5      12
92.1       3
93.7       5
95.2       2
96.8       1
Length: 62, dtype: int64
TP_STATUS_REDACAO
Faltou       9615
Presente    15198
dtype: int64
NU_NOTA_REDACAO
0.0      11640
5.0        516
10.0       497
15.0       279
20.0       459
25.0       902
30.0       701
35.0       696
40.0       408
45.0       694
50.0      1887
55.0      1099
60.0       906
65.0       508
70.0       747
75.0       905
80.0       570
85.0       307
90.0       294
95.0       368
100.0      430
dtype: int64
RESP_QUEST_SOCIO
0     9893
1    14920
dtype: int64
ANO_NASC
*                      74
.                     100
1977                  944
1978                 1378
1979                 2025
1980                 3762
1981                 3384
Antes de 1973        1293
Após 1981             270
Entre 1973 e 1976    1690
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

RACA_COR
*             35
.            347
Amarelo      540
Branco      7228
Indigena     517
Negro        863
Pardo       5390
dtype: int64
ESTADO_CIVIL
*                                    28
.                                   119
Casado/mora com companheiro(a)     1163
Separado/Divorciado/Desquitado      137
Solteiro                          13454
Viúvo                                19
dtype: int64
CQUEM_MORA
*                               110
.                               154
Com o pai e a mãe              8817
Com pai e mãe em nova união     393
Com parentes/amigos            1201
Outra situação                 1614
Sozinho                         156
Só com a mãe                   2258
Só com o pai                    217
dtype: int64
QTD_PESSOAS_DOMICILIO
*                         52
.                        111
Cinco pessoas           3758
Duas pessoas             720
Mais de seis pessoas    2481
Quatro pessoas          3454
Seis pessoas            2363
Três pessoas            1815
Uma pessoa               166
dtype: int64
QTD_FILHOS
*                           34
.                          159
Dois filhos                395
Não tenho filhos         13335
Quatro ou mais filhos       67
Três filhos                171
Um filho                   759
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ESC_PAI
*                                                                     1051
.                                                                      223
Da primeira à quarta série do ensino fundamental (antigo primário)    4923
Da quinta à oitava série do ensino fundamental (antigo ginásio)       2040
Ensino Médio (2º grau) completo                                       1893
Ensino Médio (2º grau) incompleto                                      816
Ensino Superior completo                                              1862
Ensino Superior incompleto                                             478
Nunca frequentou a escola                                             1183
Pós-graduação                                                          451
dtype: int64
PROF_PAI
*                                                                                                                      200
.                                                                                                                      529
Aposentado                                                                                                            3005
Desempregado                                                                                                           945
Funcionária do setor público                                                                                          1913
Gerente, administradora ou diretora de empresa privada                                                                 376
Não sei                                                                                                               1164
Profissional liberal, professor, técnico de nível superior                                                             679
Trabalha no próprio negócio/empresa ou comércio próprio                                                               2283
Trabalhador do setor informal (sem carteira assinada)                                                                  866
Trabalhadora do setor de prestação de serviços/comércio/banco/transporte, etc. (com registro ou carteira assinada)    1508
Trabalhadora do setor de produção industrial (com registro ou carteira assinada)                                       741
Trabalhadora do setor primário/agricultura/pecuária/pesca (com registro ou carteira assinada)                          711
dtype: int64
ESC_MAE
*                                                                      393
.                                                                      127
Da primeira à quarta série do ensino fundamental (antigo primário)    4873
Da quinta à oitava série do ensino fundamental (antigo ginásio)       2561
Ensino Médio (2º grau) completo                                       2460
Ensino Médio (2º grau) incompleto                                      791
Ensino Superior completo                                              1816
Ensino Superior incompleto                                             436
Nunca frequentou a escola                                              984
Pós-graduação                                                          479
dtype: int64
PROF_MAE
*                                                                                                                      168
.                                                                                                                      200
Aposentada                                                                                                            1408
Desempregada                                                                                                           359
Dona de casa                                                                                                          6606
Funcionária do setor público                                                                                          2182
Gerente, administradora ou diretora de empresa privada                                                                 133
Não sei                                                                                                                227
Profissional liberal, professora, técnico de nível superior                                                            864
Trabalha no próprio negócio/empresa ou comércio próprio                                                               1130
Trabalhadora do setor de prestação de serviços/comércio/banco/transporte, etc. (com registro ou carteira assinada)     764
Trabalhadora do setor de produção industrial (com registro ou carteira assinada)                                       215
Trabalhadora do setor informal (sem carteira assinada)                                                                 504
Trabalhadora do setor primário/agricultura/pecuária/pesca (com registro ou carteira assinada)                          160
dtype: int64
MOD_CONCL_ENS_FUND
*                      32
.                     160
Ensino regular      14370
Ensino supletivo      358
dtype: int64
ANO_CONCL_ENS_MEDIO
*                                                73
.                                               376
Concluí-o antes de 1991                         178
Concluí-o em 1995                               217
Concluí-o em 1996                               295
Concluí-o em 1997                               472
Concluí-o entre 1991 e 1994                     179
Concluí-o no primeiro semestre de 1998          164
Vou concluí-lo no segundo semestre de 1998    12966
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TIPO_ESC_ENS_MEDIO
*                60
.               146
Estadual      10326
Federal         253
Municipal       555
Particular     3580
dtype: int64
LINGUA_ESTR
*        63
.      1272
Não    8560
Sim    5025
dtype: int64
COMP_INFOR
*        55
.      1275
Não    7790
Sim    5800
dtype: int64
INS_MUSIC
*         19
.       1350
Não    12239
Sim     1312
dtype: int64
GINASTICA
*        35
.      1321
Não    7570
Sim    5994
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ART_PLAST
*         11
.       1333
Não    12926
Sim      650
dtype: int64
AMG_DROGAS
*                          198
.                          248
Não                      10023
Sim, amigos distantes     3032
Sim, amigos próximos      1419
dtype: int64
ACOMP_POLITICA
*                         334
.                         237
Não, não me interesso    3336
Sim, mais ou menos       4455
Sim, muito               2132
Só um pouco              4426
dtype: int64
ACOMP_ESPORTES
*                         419
.                         230
Não, não me interesso     883
Sim, mais ou menos       4954
Sim, muito               5663
Só um pouco              2771
dtype: int64
ACOMP_ECONOMIA
*                         402
.                         211
Não, não me interesso    1297
Sim, mais ou menos       5605
Sim, muito               3381
Só um pouco              4024
dtype: int64
ACOMP_MODAS
*                         353
.                         221
Não, não me interesso    3011
Sim, mais ou menos       4219
Sim, muito               3188
Só um pouco              3928
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ACOMP_CULTURAS
*                         368
.                         235
Não, não me interesso    1792
Sim, mais ou menos       4495
Sim, muito               4519
Só um pouco              3511
dtype: int64
ACOMP_COMP_SEXUAL
*                         410
.                         209
Não, não me interesso     223
Sim, mais ou menos       3267
Sim, muito               9845
Só um pouco               966
dtype: int64
ACOMP_MEIO_AMBIENTE
*                         389
.                         215
Não, não me interesso     319
Sim, mais ou menos       5088
Sim, muito               6907
Só um pouco              2002
dtype: int64
INT_SOCIAIS
*                          393
.                          202
Não, não me interesso      100
Sim, mais ou menos        2893
Sim, muito               10684
Só um pouco                648
dtype: int64
TRAB_ATUALMENTE
*        12
.      7104
Não    4172
Sim    3632
dtype: int64
RENDA_MENSAL
*                                                              19
.                                                           10825
Até 1 salário mínimo (até R$130,00)                          2082
De 10 a 30 salários mínimos (de R$1.301,00 a R$3.900,00)       18
De 2 a 5 salários mínimos (de R$261,00 a R$650,00)            454
De 30 a 50 salários mínimos (de R$3.901,00 a R$6.500,00)        3
De 5 a 10 salário mínimos (de R$651,00 a R$1.300,00)           84
Entre 1 e 2 salários mínimos (entre R$131,00 e R$260,00)     1431
Mais de 50 salários mínimos (mais de R$6.500,00)                4
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

QUAL_ATIVIDADE
*                                                                              9
.                                                                          14008
Funcionário do setor público                                                 183
Gerente, administrador ou diretor de empresa privada                          14
Profissional liberal, professor, técnico de nível superior                    92
Trabalha no próprio negócio/empresa ou comércio próprio                       53
Trabalhador do setor de prestação de serviços/comércio/banco/transporte      263
Trabalhador do setor de produção industrial                                   91
Trabalhador do setor informal (sem carteira assinada)                        175
Trabalhador do setor primário/agricultura/pecuária/pesca                      32
dtype: int64
TEMPO_TRABALHO
*                      15
.                   14014
Entre 1 e 2 anos      173
Entre 2 e 4 anos      133
Mais de 4 anos        215
Menos de 1 ano        370
dtype: int64
MOTIVO_NAO_TRAB
*                                                         24
.                                                      13399
Estava trabalhando, mas estou desempregado(a)            224
Estou estudando                                          871
Não consigo encontrar um trabalho na minha ocupação      333
Não preciso trabalhar                                     69
dtype: int64
PART_SUST_FAM
*                                                                     227
.                                                                     305
Não tenho família/meus rendimentos são só para meu próprio uso        295
Não tenho rendimentos                                                9024
Não, tenho família, mas meus rendimentos são para meu próprio uso    1379
Sim, com parte do meu rendimento                                     2771
Sim, com todo o meu rendimento                                        919
dtype: int64
RENDA_TOTAL_MENSAL
*                                                             76
.                                                            494
Até 1 salário mínimo (até R$130,00)                          924
De 10 a 30 salários mínimos (de R$1.301,00 a R$3.900,00)    2052
De 2 a 5 salários mínimos (de R$261,00 a R$650,00)          3939
De 30 a 50 salários mínimos (de R$3.901,00 a R$6.500,00)     755
De 5 a 10 salário mínimos (de R$651,00 a R$1.300,00)        2528
Entre 1 e 2 salários mínimos (entre R$131,00 e R$260,00)    2533
Mais de 50 salários mínimos (mais de R$6.500,00)             340
Não sabe                                                    1279
dtype: int64
AUTOMOVEL
*              84
.             352
1            4647
2            1726
3 ou mais     666
Não tem      7445
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TV_CORES
*              99
.             380
1            6668
2            3721
3 ou mais    3232
Não tem       820
dtype: int64
MICROCOMPUTADOR
*               74
.              417
1             3051
2              474
3 ou mais      144
Não tem      10760
dtype: int64
VIDEOCASSETE
*              58
.             370
1            7025
2            1328
3 ou mais     310
Não tem      5829
dtype: int64
MAQ_LAVAR_ROUPA
*              41
.             365
1            7143
2             619
3 ou mais      84
Não tem      6668
dtype: int64
ASPIRADOR_PO
*              125
.              402
1             2524
2              229
3 ou mais       33
Não tem      11607
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

GELADEIRA
*               97
.              289
1            11603
2             1659
3 ou mais      405
Não tem        867
dtype: int64
FREEZER
*              90
.             387
1            4579
2             704
3 ou mais     185
Não tem      8975
dtype: int64
CASA_PROPRIA
*              96
.             357
1            9908
2            1640
3 ou mais     693
Não tem      2226
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

EMPREGADA
*               49
.              410
1             2763
2              601
3 ou mais      190
Não tem      10907
dtype: int64
BICILETA
*                                             97
.                                            335
Não                                         6683
Não, mas pretendo ter num futuro próximo    1715
Sim                                         6090
dtype: int64
MOTOCICLETA
*                                              74
.                                             411
Não                                         11136
Não, mas pretendo ter num futuro próximo     2784
Sim                                           515
dtype: int64
INST_MUSICAL
*                                             81
.                                            414
Não                                         8658
Não, mas pretendo ter num futuro próximo    3053
Sim                                         2714
dtype: int64
MESA_ESTUDOS
*                                             66
.                                            460
Não                                         5689
Não, mas pretendo ter num futuro próximo    3688
Sim                                         5017
dtype: int64
CALCULADORA
*                                             49
.                                            360
Não                                         3498
Não, mas pretendo ter num futuro próximo    1083
Sim                                         9930
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(
/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

### Tentando escrever novamente a base com todas em String para o BigQuery

In [ ]:
for col in df_padronizado.columns:
    df_padronizado[col] = df_padronizado[col].astype(str)

In [ ]:
print(df_padronizado.dtypes)

NU_ANO                   object
TP_FAIXA_ETARIA          object
TP_SEXO                  object
SG_UF_RESIDENCIA         object
TP_PRESENCA              object
CO_PROVA                 object
NU_NOTA_OBJETIVA         object
TP_STATUS_REDACAO        object
NU_NOTA_REDACAO          object
RESP_QUEST_SOCIO         object
ANO_NASC                 object
RACA_COR                 object
ESTADO_CIVIL             object
CQUEM_MORA               object
QTD_PESSOAS_DOMICILIO    object
QTD_FILHOS               object
ESC_PAI                  object
PROF_PAI                 object
ESC_MAE                  object
PROF_MAE                 object
MOD_CONCL_ENS_FUND       object
ANO_CONCL_ENS_MEDIO      object
TIPO_ESC_ENS_MEDIO       object
LINGUA_ESTR              object
COMP_INFOR               object
INS_MUSIC                object
GINASTICA                object
ART_PLAST                object
AMG_DROGAS               object
ACOMP_POLITICA           object
ACOMP_ESPORTES           object
ACOMP_ECONOMIA           object
ACOMP_MODAS              object
ACOMP_CULTURAS           object
ACOMP_COMP_SEXUAL        object
ACOMP_MEIO_AMBIENTE      object
INT_SOCIAIS              object
TRAB_ATUALMENTE          object
RENDA_MENSAL             object
QUAL_ATIVIDADE           object
TEMPO_TRABALHO           object
MOTIVO_NAO_TRAB          object
PART_SUST_FAM            object
RENDA_TOTAL_MENSAL       object
AUTOMOVEL                object
TV_CORES                 object
MICROCOMPUTADOR          object
VIDEOCASSETE             object
MAQ_LAVAR_ROUPA          object
ASPIRADOR_PO             object
GELADEIRA                object
FREEZER                  object
CASA_PROPRIA             object
EMPREGADA                object
BICILETA                 object
MOTOCICLETA              object
INST_MUSICAL             object
MESA_ESTUDOS             object
CALCULADORA              object
dtype: object

In [ ]:
for col in df_padronizado.columns:
    resultado = df_padronizado.groupby(col).size().compute()
    print(resultado)

NU_ANO
1998    24813
dtype: int64
TP_FAIXA_ETARIA
1.0     3634
10.0     445
11.0    1334
12.0     553
13.0     324
14.0     123
15.0      38
16.0      20
17.0       6
18.0       5
2.0     4058
3.0     4774
4.0     3038
5.0     2259
6.0     1579
7.0     1184
8.0      808
9.0      631
dtype: int64
TP_SEXO
F    15792
M     9020
dtype: int64
SG_UF_RESIDENCIA
AC      570
AL      166
AM      456
AP       47
BA      179
CE      666
MA       90
MG     5997
PA      288
PB      302
PE    10010
PI      103
PR        1
RJ        3
RN     4492
RO      108
RR      967
SE      319
SP        1
TO       48
dtype: int64
TP_PRESENCA
0.0     9615
1.0    15198
dtype: int64
CO_PROVA
Amarela    4020
Azul       3961
Branca     3721
Grafite    3496
dtype: int64
NU_NOTA_OBJETIVA
0.0     9637
1.6        1
11.1      19
12.7      34
14.3      70
        ...
90.5      12
92.1       3
93.7       5
95.2       2
96.8       1
Length: 62, dtype: int64
TP_STATUS_REDACAO
Faltou       9615
Presente    15198
dtype: int64
NU_NOTA_REDACAO
0.0      11640
10.0       497
100.0      430
15.0       279
20.0       459
25.0       902
30.0       701
35.0       696
40.0       408
45.0       694
5.0        516
50.0      1887
55.0      1099
60.0       906
65.0       508
70.0       747
75.0       905
80.0       570
85.0       307
90.0       294
95.0       368
dtype: int64
RESP_QUEST_SOCIO
0.0     9893
1.0    14920
dtype: int64
ANO_NASC
*                      74
.                     100
1977                  944
1978                 1378
1979                 2025
1980                 3762
1981                 3384
Antes de 1973        1293
Após 1981             270
Entre 1973 e 1976    1690
dtype: int64
RACA_COR
*             35
.            347
Amarelo      540
Branco      7228
Indigena     517
Negro        863
Pardo       5390
dtype: int64
ESTADO_CIVIL
*                                    28
.                                   119
Casado/mora com companheiro(a)     1163
Separado/Divorciado/Desquitado      137
Solteiro                          13454
Viúvo                                19
dtype: int64
CQUEM_MORA
*                               110
.                               154
Com o pai e a mãe              8817
Com pai e mãe em nova união     393
Com parentes/amigos            1201
Outra situação                 1614
Sozinho                         156
Só com a mãe                   2258
Só com o pai                    217
dtype: int64
QTD_PESSOAS_DOMICILIO
*                         52
.                        111
Cinco pessoas           3758
Duas pessoas             720
Mais de seis pessoas    2481
Quatro pessoas          3454
Seis pessoas            2363
Três pessoas            1815
Uma pessoa               166
dtype: int64
QTD_FILHOS
*                           34
.                          159
Dois filhos                395
Não tenho filhos         13335
Quatro ou mais filhos       67
Três filhos                171
Um filho                   759
dtype: int64
ESC_PAI
*                                                                     1051
.                                                                      223
Da primeira à quarta série do ensino fundamental (antigo primário)    4923
Da quinta à oitava série do ensino fundamental (antigo ginásio)       2040
Ensino Médio (2º grau) completo                                       1893
Ensino Médio (2º grau) incompleto                                      816
Ensino Superior completo                                              1862
Ensino Superior incompleto                                             478
Nunca frequentou a escola                                             1183
Pós-graduação                                                          451
dtype: int64
PROF_PAI
*                                                                                                                      200
.                                                                                                                      529
Aposentado                                                                                                            3005
Desempregado                                                                                                           945
Funcionária do setor público                                                                                          1913
Gerente, administradora ou diretora de empresa privada                                                                 376
Não sei                                                                                                               1164
Profissional liberal, professor, técnico de nível superior                                                             679
Trabalha no próprio negócio/empresa ou comércio próprio                                                               2283
Trabalhador do setor informal (sem carteira assinada)                                                                  866
Trabalhadora do setor de prestação de serviços/comércio/banco/transporte, etc. (com registro ou carteira assinada)    1508
Trabalhadora do setor de produção industrial (com registro ou carteira assinada)                                       741
Trabalhadora do setor primário/agricultura/pecuária/pesca (com registro ou carteira assinada)                          711
dtype: int64
ESC_MAE
*                                                                      393
.                                                                      127
Da primeira à quarta série do ensino fundamental (antigo primário)    4873
Da quinta à oitava série do ensino fundamental (antigo ginásio)       2561
Ensino Médio (2º grau) completo                                       2460
Ensino Médio (2º grau) incompleto                                      791
Ensino Superior completo                                              1816
Ensino Superior incompleto                                             436
Nunca frequentou a escola                                              984
Pós-graduação                                                          479
dtype: int64
PROF_MAE
*                                                                                                                      168
.                                                                                                                      200
Aposentada                                                                                                            1408
Desempregada                                                                                                           359
Dona de casa                                                                                                          6606
Funcionária do setor público                                                                                          2182
Gerente, administradora ou diretora de empresa privada                                                                 133
Não sei                                                                                                                227
Profissional liberal, professora, técnico de nível superior                                                            864
Trabalha no próprio negócio/empresa ou comércio próprio                                                               1130
Trabalhadora do setor de prestação de serviços/comércio/banco/transporte, etc. (com registro ou carteira assinada)     764
Trabalhadora do setor de produção industrial (com registro ou carteira assinada)                                       215
Trabalhadora do setor informal (sem carteira assinada)                                                                 504
Trabalhadora do setor primário/agricultura/pecuária/pesca (com registro ou carteira assinada)                          160
dtype: int64
MOD_CONCL_ENS_FUND
*                      32
.                     160
Ensino regular      14370
Ensino supletivo      358
dtype: int64
ANO_CONCL_ENS_MEDIO
*                                                73
.                                               376
Concluí-o antes de 1991                         178
Concluí-o em 1995                               217
Concluí-o em 1996                               295
Concluí-o em 1997                               472
Concluí-o entre 1991 e 1994                     179
Concluí-o no primeiro semestre de 1998          164
Vou concluí-lo no segundo semestre de 1998    12966
dtype: int64
TIPO_ESC_ENS_MEDIO
*                60
.               146
Estadual      10326
Federal         253
Municipal       555
Particular     3580
dtype: int64
LINGUA_ESTR
*        63
.      1272
Não    8560
Sim    5025
dtype: int64
COMP_INFOR
*        55
.      1275
Não    7790
Sim    5800
dtype: int64
INS_MUSIC
*         19
.       1350
Não    12239
Sim     1312
dtype: int64
GINASTICA
*        35
.      1321
Não    7570
Sim    5994
dtype: int64
ART_PLAST
*         11
.       1333
Não    12926
Sim      650
dtype: int64
AMG_DROGAS
*                          198
.                          248
Não                      10023
Sim, amigos distantes     3032
Sim, amigos próximos      1419
dtype: int64
ACOMP_POLITICA
*                         334
.                         237
Não, não me interesso    3336
Sim, mais ou menos       4455
Sim, muito               2132
Só um pouco              4426
dtype: int64
ACOMP_ESPORTES
*                         419
.                         230
Não, não me interesso     883
Sim, mais ou menos       4954
Sim, muito               5663
Só um pouco              2771
dtype: int64
ACOMP_ECONOMIA
*                         402
.                         211
Não, não me interesso    1297
Sim, mais ou menos       5605
Sim, muito               3381
Só um pouco              4024
dtype: int64
ACOMP_MODAS
*                         353
.                         221
Não, não me interesso    3011
Sim, mais ou menos       4219
Sim, muito               3188
Só um pouco              3928
dtype: int64
ACOMP_CULTURAS
*                         368
.                         235
Não, não me interesso    1792
Sim, mais ou menos       4495
Sim, muito               4519
Só um pouco              3511
dtype: int64
ACOMP_COMP_SEXUAL
*                         410
.                         209
Não, não me interesso     223
Sim, mais ou menos       3267
Sim, muito               9845
Só um pouco               966
dtype: int64
ACOMP_MEIO_AMBIENTE
*                         389
.                         215
Não, não me interesso     319
Sim, mais ou menos       5088
Sim, muito               6907
Só um pouco              2002
dtype: int64
INT_SOCIAIS
*                          393
.                          202
Não, não me interesso      100
Sim, mais ou menos        2893
Sim, muito               10684
Só um pouco                648
dtype: int64
TRAB_ATUALMENTE
*        12
.      7104
Não    4172
Sim    3632
dtype: int64
RENDA_MENSAL
*                                                              19
.                                                           10825
Até 1 salário mínimo (até R$130,00)                          2082
De 10 a 30 salários mínimos (de R$1.301,00 a R$3.900,00)       18
De 2 a 5 salários mínimos (de R$261,00 a R$650,00)            454
De 30 a 50 salários mínimos (de R$3.901,00 a R$6.500,00)        3
De 5 a 10 salário mínimos (de R$651,00 a R$1.300,00)           84
Entre 1 e 2 salários mínimos (entre R$131,00 e R$260,00)     1431
Mais de 50 salários mínimos (mais de R$6.500,00)                4
dtype: int64
QUAL_ATIVIDADE
*                                                                              9
.                                                                          14008
Funcionário do setor público                                                 183
Gerente, administrador ou diretor de empresa privada                          14
Profissional liberal, professor, técnico de nível superior                    92
Trabalha no próprio negócio/empresa ou comércio próprio                       53
Trabalhador do setor de prestação de serviços/comércio/banco/transporte      263
Trabalhador do setor de produção industrial                                   91
Trabalhador do setor informal (sem carteira assinada)                        175
Trabalhador do setor primário/agricultura/pecuária/pesca                      32
dtype: int64
TEMPO_TRABALHO
*                      15
.                   14014
Entre 1 e 2 anos      173
Entre 2 e 4 anos      133
Mais de 4 anos        215
Menos de 1 ano        370
dtype: int64
MOTIVO_NAO_TRAB
*                                                         24
.                                                      13399
Estava trabalhando, mas estou desempregado(a)            224
Estou estudando                                          871
Não consigo encontrar um trabalho na minha ocupação      333
Não preciso trabalhar                                     69
dtype: int64
PART_SUST_FAM
*                                                                     227
.                                                                     305
Não tenho família/meus rendimentos são só para meu próprio uso        295
Não tenho rendimentos                                                9024
Não, tenho família, mas meus rendimentos são para meu próprio uso    1379
Sim, com parte do meu rendimento                                     2771
Sim, com todo o meu rendimento                                        919
dtype: int64
RENDA_TOTAL_MENSAL
*                                                             76
.                                                            494
Até 1 salário mínimo (até R$130,00)                          924
De 10 a 30 salários mínimos (de R$1.301,00 a R$3.900,00)    2052
De 2 a 5 salários mínimos (de R$261,00 a R$650,00)          3939
De 30 a 50 salários mínimos (de R$3.901,00 a R$6.500,00)     755
De 5 a 10 salário mínimos (de R$651,00 a R$1.300,00)        2528
Entre 1 e 2 salários mínimos (entre R$131,00 e R$260,00)    2533
Mais de 50 salários mínimos (mais de R$6.500,00)             340
Não sabe                                                    1279
dtype: int64
AUTOMOVEL
*              84
.             352
1            4647
2            1726
3 ou mais     666
Não tem      7445
dtype: int64
TV_CORES
*              99
.             380
1            6668
2            3721
3 ou mais    3232
Não tem       820
dtype: int64
MICROCOMPUTADOR
*               74
.              417
1             3051
2              474
3 ou mais      144
Não tem      10760
dtype: int64
VIDEOCASSETE
*              58
.             370
1            7025
2            1328
3 ou mais     310
Não tem      5829
dtype: int64
MAQ_LAVAR_ROUPA
*              41
.             365
1            7143
2             619
3 ou mais      84
Não tem      6668
dtype: int64
ASPIRADOR_PO
*              125
.              402
1             2524
2              229
3 ou mais       33
Não tem      11607
dtype: int64
GELADEIRA
*               97
.              289
1            11603
2             1659
3 ou mais      405
Não tem        867
dtype: int64
FREEZER
*              90
.             387
1            4579
2             704
3 ou mais     185
Não tem      8975
dtype: int64
CASA_PROPRIA
*              96
.             357
1            9908
2            1640
3 ou mais     693
Não tem      2226
dtype: int64
EMPREGADA
*               49
.              410
1             2763
2              601
3 ou mais      190
Não tem      10907
dtype: int64
BICILETA
*                                             97
.                                            335
Não                                         6683
Não, mas pretendo ter num futuro próximo    1715
Sim                                         6090
dtype: int64
MOTOCICLETA
*                                              74
.                                             411
Não                                         11136
Não, mas pretendo ter num futuro próximo     2784
Sim                                           515
dtype: int64
INST_MUSICAL
*                                             81
.                                            414
Não                                         8658
Não, mas pretendo ter num futuro próximo    3053
Sim                                         2714
dtype: int64
MESA_ESTUDOS
*                                             66
.                                            460
Não                                         5689
Não, mas pretendo ter num futuro próximo    3688
Sim                                         5017
dtype: int64
CALCULADORA
*                                             49
.                                            360
Não                                         3498
Não, mas pretendo ter num futuro próximo    1083
Sim                                         9930
dtype: int64

In [ ]:
df_padronizado.to_parquet(
    'enem_1998_new/',
    engine='pyarrow',           # recomendado
    compression='snappy',       # rápido e eficiente
    write_index=False           # geralmente desnecessário em cargas
)

# df.to_csv("enem_1998.csv", single_file=True, index=False) #Escrita em csv