In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np

1) Criar um script para realizar a Transformação Binária do atributo 'cargo' da base de dados fake_data_2.csv e mostrar a base de dados modificada.

In [ ]:
base_path = ("/content/drive/My Drive/inteligencia_artificial/fake_data_2.csv")
df = pd.read_csv(base_path)

In [ ]:
df.head()

         cargo  idade  salario    bonus sócio
0      Diretor     45  24000.0  10000.0   sim
1     Analista     22   8000.0   2000.0   não
2  Programador     30      NaN   1000.0   não
3      Gerente     24  15100.0      NaN   não
4      Gerente     30  35000.0   6000.0   sim

In [ ]:
df = pd.get_dummies(df, columns = ['cargo'])
print(df)

    idade  salario    bonus sócio  cargo_Analista  cargo_Diretor  \
0      45  24000.0  10000.0   sim               0              1
1      22   8000.0   2000.0   não               1              0
2      30      NaN   1000.0   não               0              0
3      24  15100.0      NaN   não               0              0
4      30  35000.0   6000.0   sim               0              0
5      22   5300.0   2000.0   não               0              0
6      20      NaN   1200.0   não               1              0
7      50  18000.0   8000.0   sim               0              1
8      65  38000.0  28000.0   sim               0              0
9      32   7300.0   4000.0   não               1              0
10     35   2344.0      NaN   não               0              0
11     28   4500.0   2200.0   não               0              0
12     28  30000.0  12000.0   sim               0              0
13     30  14000.0  10000.0   sim               0              0
14     45  24000.0  10000.0   sim               0              1
15     30  35000.0   6000.0   sim               0              0

    cargo_Fundador  cargo_Gerente  cargo_Programador
0                0              0                  0
1                0              0                  0
2                0              0                  1
3                0              1                  0
4                0              1                  0
5                0              0                  1
6                0              0                  0
7                0              0                  0
8                1              0                  0
9                0              0                  0
10               0              0                  1
11               0              0                  1
12               1              0                  0
13               0              0                  1
14               0              0                  0
15               0              1                  0

2) Criar um script para converter os dados abaixo para valores numéricos e normalizá-los em [0, 1] e mostrar os resultado da base modificada.

In [ ]:
base_path = ("/content/drive/My Drive/inteligencia_artificial/ia_numerico.csv")
df_numerico = pd.read_csv(base_path)

3) Criar um scipt para realizar as normalizações: MinMax, Valor Máximo e por Desvio Padrão dos dados abaixo. Mostre o antes e o depois.

In [ ]:
base_path = ("/content/drive/My Drive/inteligencia_artificial/ia_cpf.csv")
df_cpf = pd.read_csv(base_path)

In [ ]:
df_cpf.head()

           cpf  despesa
0  99999999999     1000
1  11111111111     2000
2  33333333333     3000
3  55555555555     1500
4  22222222222     1500

In [ ]:
#MinMax
norm_min_max = df_cpf.copy()
for column in norm_min_max.columns:
    norm_min_max[column] = (norm_min_max[column] - norm_min_max[column].min()) / (norm_min_max[column].max() - norm_min_max[column].min())
print(norm_min_max)

        cpf   despesa
0  1.000000  0.142857
1  0.111111  0.428571
2  0.333333  0.714286
3  0.555556  0.285714
4  0.222222  0.285714
5  0.000000  0.142857
6  0.888889  0.714286
7  0.777778  0.000000
8  0.666667  1.000000
9  0.444444  0.142857

In [ ]:
#Valor máximo
norm_max = df_cpf.copy()
for column in norm_max.columns:
    norm_max[column] = norm_max[column]  / norm_max[column].max()

display(norm_max)

        cpf  despesa
0  1.000000    0.250
1  0.111111    0.500
2  0.333333    0.750
3  0.555556    0.375
4  0.222222    0.375
5  0.000000    0.250
6  0.888889    0.750
7  0.777778    0.125
8  0.666667    1.000
9  0.444444    0.250

In [ ]:
#Desvio Padrão
print("Média:", np.mean(df_cpf.despesa))

print("Desvio padrão:", np.std(df_cpf.despesa))

Média: 1850.0
Desvio padrão: 1073.5455276791945

4) Tratar os dados ausentes da base de dados iris_alterado:

In [ ]:
base_path = ("/content/drive/My Drive/inteligencia_artificial/iris_alterado.csv")
df_iris = pd.read_csv(base_path)

In [ ]:
#a)Criar um script para remover os atributos com dados ausentes
df_iris.dropna(axis='columns', inplace=True)
print(df_iris)

    petal_length           class
0            1.4     Iris-setosa
1            1.4     Iris-setosa
2            1.4     Iris-setosa
3            1.3     Iris-setosa
4            1.5     Iris-setosa
..           ...             ...
83           5.9  Iris-virginica
84           5.6  Iris-virginica
85           5.8  Iris-virginica
86           6.6  Iris-virginica
87           4.5  Iris-virginica

[88 rows x 2 columns]

In [ ]:
#b) Criar um script para remover as amostras com dados ausentes
df_iris.dropna(axis=0, inplace=True)
print(df_iris)

    petal_length           class
0            1.4     Iris-setosa
1            1.4     Iris-setosa
2            1.4     Iris-setosa
3            1.3     Iris-setosa
4            1.5     Iris-setosa
..           ...             ...
83           5.9  Iris-virginica
84           5.6  Iris-virginica
85           5.8  Iris-virginica
86           6.6  Iris-virginica
87           4.5  Iris-virginica

[88 rows x 2 columns]

In [ ]:
#c) Criar um script para inserir valores nos dados ausentes
valores_ausentes = df_iris.isnull()
medias = df_iris.mean()
df_iris.fillna(medias, inplace=True)
print(df_iris)

    petal_length           class
0            1.4     Iris-setosa
1            1.4     Iris-setosa
2            1.4     Iris-setosa
3            1.3     Iris-setosa
4            1.5     Iris-setosa
..           ...             ...
83           5.9  Iris-virginica
84           5.6  Iris-virginica
85           5.8  Iris-virginica
86           6.6  Iris-virginica
87           4.5  Iris-virginica

[88 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#d) Criar um script para remover as amostras duplicadas
df_iris.drop_duplicates(inplace=True)
print(df_iris)

    petal_length            class
0            1.4      Iris-setosa
3            1.3      Iris-setosa
4            1.5      Iris-setosa
6            1.7      Iris-setosa
12           1.6      Iris-setosa
14           1.1      Iris-setosa
15           1.2      Iris-setosa
23           1.0      Iris-setosa
25           1.9      Iris-setosa
27           4.7  Iris-versicolor
28           4.5  Iris-versicolor
29           4.9  Iris-versicolor
30           4.0  Iris-versicolor
31           4.6  Iris-versicolor
34           3.3  Iris-versicolor
36           3.9  Iris-versicolor
37           3.5  Iris-versicolor
38           4.2  Iris-versicolor
41           3.6  Iris-versicolor
42           4.4  Iris-versicolor
44           4.1  Iris-versicolor
55           4.3  Iris-versicolor
56           3.0  Iris-versicolor
58           6.0   Iris-virginica
59           5.1   Iris-virginica
60           5.9   Iris-virginica
61           5.6   Iris-virginica
62           5.8   Iris-virginica
63           6.6   Iris-virginica
64           4.5   Iris-virginica
65           6.3   Iris-virginica
67           6.1   Iris-virginica
69           5.3   Iris-virginica
70           5.5   Iris-virginica
71           5.0   Iris-virginica
75           6.7   Iris-virginica
76           6.9   Iris-virginica