# **Trabalhando** com dask (pela primeira vez)

- https://docs.dask.org/en/latest/dataframe-parquet.html
- https://www.analyticsvidhya.com/blog/2018/08/dask-big-datasets-machine_learning-python/
- https://www.youtube.com/watch?v=WLBEzlwvCp4)

In [ ]:
!pip install "dask[complete]"

Requirement already satisfied: dask[complete] in /usr/local/lib/python3.11/dist-packages (2024.12.1)
Requirement already satisfied: click>=8.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (8.2.1)
Requirement already satisfied: cloudpickle>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (2025.3.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (24.2)
Requirement already satisfied: partd>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (0.12.1)
Requirement already satisfied: importlib_metadata>=4.13.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (8.7.0)
Requirement already satisfied: pyarrow>=14.0.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (18.1.0)
Collecting lz4>=4.3.2 (from dask[complete])
  Downloading lz4-4.4.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib_metadata>=4.13.0->dask[complete]) (3.23.0)
Requirement already satisfied: locket in /usr/local/lib/python3.11/dist-packages (from partd>=1.4.0->dask[complete]) (1.0.0)
Requirement already satisfied: numpy>=1.24 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (2.0.2)
Requirement already satisfied: pandas>=2.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (2.2.2)
Requirement already satisfied: dask-expr<1.2,>=1.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (1.1.21)
Requirement already satisfied: distributed==2024.12.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (2024.12.1)
Requirement already satisfied: bokeh>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (3.7.3)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.11/dist-packages (from dask[complete]) (3.1.6)
Requirement already satisfied: msgpack>=1.0.2 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (1.1.1)
Requirement already satisfied: psutil>=5.8.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (5.9.5)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (3.1.0)
Requirement already satisfied: tornado>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (6.4.2)
Requirement already satisfied: urllib3>=1.26.5 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (2.4.0)
Requirement already satisfied: zict>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]) (3.0.0)
Requirement already satisfied: contourpy>=1.2 in /usr/local/lib/python3.11/dist-packages (from bokeh>=3.1.0->dask[complete]) (1.3.2)
Requirement already satisfied: narwhals>=1.13 in /usr/local/lib/python3.11/dist-packages (from bokeh>=3.1.0->dask[complete]) (1.46.0)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from bokeh>=3.1.0->dask[complete]) (11.2.1)
Requirement already satisfied: xyzservices>=2021.09.1 in /usr/local/lib/python3.11/dist-packages (from bokeh>=3.1.0->dask[complete]) (2025.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2>=2.10.3->dask[complete]) (3.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.0->dask[complete]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.0->dask[complete]) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.0->dask[complete]) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=2.0->dask[complete]) (1.17.0)
Downloading lz4-4.4.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 15.5 MB/s eta 0:00:00
Installing collected packages: lz4
Successfully installed lz4-4.4.4

In [ ]:
import dask
import dask.dataframe as dd

import numpy as np
import pandas as pd

In [ ]:
path = '/content/PARTICIPANTES_2024.csv'

In [ ]:
# assume_missing=True, permite que o Dask lide corretamente com dados contendo valores faltantes em colunas que, de outra forma, seriam considerados exclusivamente numéricos.
#df = dd.read_csv(path, assume_missing = True, sep = ';')
df = dd.read_csv(path, encoding='latin1', sep=';')
df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ENSINO,...,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023
0,210062064233,2024,5,F,1,1,1,1,3,NaN,...,A,B,B,B,D,A,B,B,E,A
1,210062064234,2024,11,F,1,1,1,1,10,NaN,...,A,A,A,A,B,A,B,A,C,A
2,210062064235,2024,11,F,1,1,1,1,9,NaN,...,A,B,B,B,D,B,B,A,D,A
3,210062064236,2024,3,F,1,3,1,2,0,1.0,...,A,B,A,A,A,A,B,A,D,A
4,210062064237,2024,16,M,3,1,1,1,18,NaN,...,A,A,A,A,B,A,B,A,B,A

In [ ]:
print('Quantidade de linhas: ', len(df))
print('Quantidade de colunas: ', len(df.columns)) #df.shape[0].compute()
#df.info() #mostra quantas colunas existem, qual é a primeira e qual é a última, além do count dos tipos dessas colunas

Quantidade de linhas:  4332944
Quantidade de colunas:  38

In [ ]:
print('As colunas presentes no dataFrame são:')
list(df.columns)

As colunas presentes no dataFrame são:

['NU_INSCRICAO',
 'NU_ANO',
 'TP_FAIXA_ETARIA',
 'TP_SEXO',
 'TP_ESTADO_CIVIL',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'TP_ST_CONCLUSAO',
 'TP_ANO_CONCLUIU',
 'TP_ENSINO',
 'IN_TREINEIRO',
 'CO_MUNICIPIO_PROVA',
 'NO_MUNICIPIO_PROVA',
 'CO_UF_PROVA',
 'SG_UF_PROVA',
 'Q001',
 'Q002',
 'Q003',
 'Q004',
 'Q005',
 'Q006',
 'Q007',
 'Q008',
 'Q009',
 'Q010',
 'Q011',
 'Q012',
 'Q013',
 'Q014',
 'Q015',
 'Q016',
 'Q017',
 'Q018',
 'Q019',
 'Q020',
 'Q021',
 'Q022',
 'Q023']

### Seleção das variáveis

In [ ]:
#filtro de variáveis
df_subset = df[['NU_INSCRICAO','NU_ANO','TP_FAIXA_ETARIA','TP_SEXO','TP_ESTADO_CIVIL','TP_COR_RACA','TP_NACIONALIDADE','TP_ST_CONCLUSAO','TP_ANO_CONCLUIU','TP_ENSINO','Q001','Q002','Q005','Q006','Q007','Q008','Q011','Q013','Q014','Q015','Q017','Q018','Q020','Q021','Q023']]

In [ ]:
print('Quantidade de linhas: ', len(df_subset))
print('Quantidade de colunas: ', len(df_subset.columns)) #df_subset.shape[0].compute()

Quantidade de linhas:  4332944
Quantidade de colunas:  25

In [ ]:
# Renomeando vairáveis
df_renomeado = df_subset.rename(columns={'TP_FAIXA_ETARIA': 'IDADE',
                                  'Q001': 'ESC_PAI',
                                  'Q002': 'ESC_MAE',
                                  'Q005': 'QTD_PESSOAS_CASA',
                                  'Q006': 'POSSUI_RENDA',
                                  'Q007': 'RENDA_FAM',
                                  'Q008': 'EMPREGADA',
                                  'Q011': 'CARRO',
                                  'Q013': 'GELADEIRA',
                                  'Q014': 'FREEZER',
                                  'Q015': 'MQ_LAVAR_ROUPA',
                                  'Q017': 'ASPIRADOR_PO',
                                  'Q018': 'TELEVISAO',
                                  'Q020': 'WI_FI',
                                  'Q021': 'PC',
                                  'Q023': 'TP_ESCOLA_EM'})

In [ ]:
# Renomeando o conteúdo
mapeamentos = {
    'IDADE': {          # coluna → {código: rótulo}
        '1': 'Menos de 17 anos',
        '2': '17 anos',
        '3': '18 anos',
        '4': '19 anos',
        '5': '20 anos',
        '6': '21 anos',
        '7': '22 anos',
        '8': '23 anos',
        '9': '24 anos',
        '10': '25 anos',
        '11': 'Entre 26 e 30 anos',
        '12': 'Entre 31 e 35 anos',
        '13': 'Entre 36 e 40 anos',
        '14': 'Entre 41 e 45 anos',
        '15': 'Entre 46 e 50 anos',
        '16': 'Entre 51 e 55 anos',
        '17': 'Entre 56 e 60 anos',
        '18': 'Entre 61 e 65 anos',
        '19': 'Entre 66 e 70 anos',
        '20': 'Maior de 70 anos'
    },
    'TP_SEXO': {
        'F': 'Feminino',
        'M': 'Masculino'
    },
      'TP_ESTADO_CIVIL': {
        '0': 'Não informado',
        '1': 'Solteiro(a)',
        '2': 'Casado(a)/Mora com companheiro(a)',
        '3': 'Divorciado(a)',
        '4': 'Viúvo(a)'
    },
      'TP_COR_RACA': {
        'A': 'Branco',
        'B': 'Pardo',
        'C': 'Negro',
        'D': 'Amarelo',
        'E': 'Indigena'
    },
    'TP_NACIONALIDADE': {
        '0': 'Não informado',
        '1': 'Brasileiro(a)',
        '2': 'Brasileiro(a) Naturalizado(a)',
        '3': 'Estrangeiro(a)',
        '4': 'Brasileiro(a) Nato, nascido no exterior'
    },
    'TP_ST_CONCLUSAO' : {
        '1': 'Já concluí o Ensino Médio',
        '2': 'Estou cursando e concluirei o Ensino Médio em 2024',
        '3': 'Estou cursando e concluirei o Ensino Médio após 2024',
        '4': 'Não concluí e não estou cursando o Ensino Médio'
    },
    'TP_ANO_CONCLUIU': {
        '0': 'Não informado',
        '1': '2023',
        '2': '2022',
        '3': '2021',
        '4': '2020',
        '5': '2019',
        '6': '2018',
        '7': '2017',
        '8': '2016',
        '9': '2015',
        '10': '2014',
        '11': '2013',
        '12': '2012',
        '13': '2011',
        '14': '2010',
        '15': '2009',
        '16': '2008',
        '17': '2007',
        '18': 'Antes de 2007'
    },
    'ESC_PAI' : {
        'A': 'Nunca estudou',
        'B': 'Não completou a 4ª série/5º ano do Ensino Fundamental',
        'C': 'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental',
        'D': 'Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.',
        'E': 'Completou o Ensino Médio, mas não completou a Faculdade',
        'F': 'Completou a Faculdade, mas não completou a Pós-graduação',
        'G': 'Completou a Pós-graduação.',
        'H': 'Não sei'
    },
    'ESC_MAE' : {
        'A': 'Nunca estudou',
        'B': 'Não completou a 4ª série/5º ano do Ensino Fundamental',
        'C': 'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental',
        'D': 'Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.',
        'E': 'Completou o Ensino Médio, mas não completou a Faculdade',
        'F': 'Completou a Faculdade, mas não completou a Pós-graduação',
        'G': 'Completou a Pós-graduação.',
        'H': 'Não sei'
    },
    'QTD_PESSOAS_CASA': {
        '1': '1, moro sozinho',
        '2': '2',
        '3': '3',
        '4': '4',
        '5': '5',
        '6': '6',
        '7': '7',
        '8': '8',
        '9': '9',
        '10': '10',
        '11': '11',
        '12': '12',
        '13': '13',
        '14': '14',
        '15': '15',
        '16': '16',
        '17': '17',
        '18': '18',
        '19': '19',
        '20': '20'
    },
    'POSSUI_RENDA' : {
        'A': 'Sim',
        'B': 'Não'
    },
    'RENDA_FAM' : {
        'A':'Nenhuma Renda',
        'B':'Até R$ 1.412,00',
        'C':'De R$ 1.412,01 até R$ 2.118,00',
        'D':'De R$ 2.118,01 até R$ 2.824,00',
        'E':'De R$ 2.824,01 até R$ 3.530,00',
        'F':'De R$ 3.530,01 até R$ 4.236,00',
        'G':'De R$ 4.236,01 até R$ 5.648,00',
        'H':'De R$ 5.648,01 até R$ 7.060,00',
        'I':'De R$ 7.060,01 até R$ 8.472,00',
        'J':'De R$ 8.472,01 até R$9.884,00',
        'K':'De R$ 9.884,01 até R$ 11.296,00',
        'L':'De R$ 11.296,01 até R$ 12.708,00',
        'M':'De R$ 12.708,01 até R$ 14.120,00',
        'N':'De R$ 14.120,01 até R$ 16.944,00',
        'O':'De R$ 16.944,01 até R$ 21.180,00',
        'P':'De R$ 21.180,01 até R$ 28.240,00',
        'Q':'Acima de R$ 28.240,00'
    },
    'EMPREGADA' : {
        'A': 'Não',
        'B': 'Sim, um ou dois dias por semana',
        'C': 'Sim, três ou quatro dias por semana',
        'D': 'Sim, pelo menos cinco dias por semana'
    },
    'CARRO' : {
        'A': 'Não',
        'B': 'Sim, um ou dois dias por semana',
        'C': 'Sim, três ou quatro dias por semana',
        'D': 'Sim, pelo menos cinco dias por semana'
    },
    'GELADEIRA' : {
        'A': 'Não',
        'B': 'Sim, um ou dois dias por semana',
        'C': 'Sim, três ou quatro dias por semana',
        'D': 'Sim, pelo menos cinco dias por semana'
    },
    'FREEZER' : {
        'A': 'Não',
        'B': 'Sim, um ou dois dias por semana',
        'C': 'Sim, três ou quatro dias por semana',
        'D': 'Sim, pelo menos cinco dias por semana'
    },
     'MAQ_LAVAR_ROUPA' : {
        'A': 'Não',
        'B': 'Sim, um ou dois dias por semana',
        'C': 'Sim, três ou quatro dias por semana',
        'D': 'Sim, pelo menos cinco dias por semana'
    },
    'ASPIRADOR_PO' : {
        'A': 'Não',
        'B': 'Sim, um ou dois dias por semana',
        'C': 'Sim, três ou quatro dias por semana',
        'D': 'Sim, pelo menos cinco dias por semana'
    },
    'TELEVISAO' : {
        'A': 'Não',
        'B': 'Sim, um ou dois dias por semana',
        'C': 'Sim, três ou quatro dias por semana',
        'D': 'Sim, pelo menos cinco dias por semana'
    },
    'WI_FI' : {
        'A': 'Não',
        'B': 'Sim, um ou dois dias por semana',
        'C': 'Sim, três ou quatro dias por semana',
        'D': 'Sim, pelo menos cinco dias por semana'
    },
     'PC' : {
        'A': 'Não',
        'B': 'Sim, um ou dois dias por semana',
        'C': 'Sim, três ou quatro dias por semana',
        'D': 'Sim, pelo menos cinco dias por semana'
    },
    'TP_ESCOLA_EM' : {
        'A': 'Somente em escola pública',
        'B': 'Parte em escola pública e parte em escola privada sem bolsa de estudo integral',
        'C': 'Parte em escola pública e parte em escola privada com bolsa de estudo integral',
        'D': 'Somente em escola privada sem bolsa de estudo integral',
        'E': 'Somente em escola privada com bolsa de estudo integral',
        'F': 'Não frequentei escola de Ensino Médio'
    }
}

In [ ]:
tipos = {
    'NU_ANO'            : 'int64', # numérico inteiro
    'IDADE'             : 'category',        # mantém dicionário‑encoding eficiente
    'TP_SEXO'           : 'category',
    'TP_ESTADO_CIVIL'   : 'category',
    'TP_COR_RACA'       : 'category',
    'TP_NACIONALIDADE'  : 'category',
    'TP_ST_CONCLUSAO'   : 'category',
    'TP_ANO_CONCLUIU'   : 'category',
    'TP_ENSINO'         : 'category',
    'ESC_PAI'           : 'category',
    'ESC_MAE'           : 'category',
    'QTD_PESSOAS_CASA'  : 'category',
    'POSSUI_RENDA'      : 'category',
    'RENDA_FAM'         : 'category',
    'EMPREGADA'         : 'category',
    'CARRO'             : 'category',
    'GELADEIRA'         : 'category',
    'FREEZER'           : 'category',
    'MQ_LAVAR_ROUPA'    : 'category',
    'ASPIRADOR_PO'      : 'category',
    'TELEVISAO'         : 'category',
    'WI_FI'             : 'category',
    'PC'                : 'category',
    'TP_ESCOLA_EM'      : 'category'
}

In [ ]:
df_padronizado = df_renomeado.replace(mapeamentos)

In [ ]:
# filtra os tipos para remover as colunas que são datas (cujo tipo é 'datetime64[ns]' ou 'datetime64[ns, UTC])'.
# cria um novo dicionário chamado numeros_e_cats com apenas os tipos numéricos e categóricos
numeros_e_cats = {k: v for k, v in tipos.items()
                  if v not in ('datetime64[ns]', 'datetime64[ns, UTC]')}

# Aplicar conversão de tipo em lote
df_padronizado = df_padronizado.astype(numeros_e_cats)

In [ ]:
print(df_padronizado.dtypes)

NU_INSCRICAO           int64
NU_ANO                 int64
IDADE               category
TP_SEXO             category
TP_ESTADO_CIVIL     category
TP_COR_RACA         category
TP_NACIONALIDADE    category
TP_ST_CONCLUSAO     category
TP_ANO_CONCLUIU     category
TP_ENSINO           category
ESC_PAI             category
ESC_MAE             category
QTD_PESSOAS_CASA    category
POSSUI_RENDA        category
RENDA_FAM           category
EMPREGADA           category
CARRO               category
GELADEIRA           category
FREEZER             category
MQ_LAVAR_ROUPA      category
ASPIRADOR_PO        category
TELEVISAO           category
WI_FI               category
PC                  category
TP_ESCOLA_EM        category
dtype: object

In [ ]:
for col in df_padronizado.columns:
    resultado = df_padronizado.groupby(col).size().compute()
    print(resultado)

NU_INSCRICAO
210062064233    1
210062064234    1
210062064235    1
210062064236    1
210062064237    1
               ..
210066495575    1
210066495576    1
210066495577    1
210066495578    1
210066495579    1
Length: 4332944, dtype: int64
NU_ANO
2024    4332944
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

IDADE
1      479138
2      877931
3     1046721
4      460816
5      266852
6      178466
7      131126
8      103276
9       86265
10      71227
11     233992
12     132193
13      98386
14      70809
15      43948
16      26552
17      14996
18       6526
19       2577
20       1147
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_SEXO
Feminino     2624621
Masculino    1708323
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_ESTADO_CIVIL
0     205148
1    3854031
2     199395
3      69117
4       5253
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_COR_RACA
0      50632
1    1791884
2     534653
3    1863437
4      62419
5      29919
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_NACIONALIDADE
0       3535
1    4226914
2      81124
3       9482
4      11889
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_ST_CONCLUSAO
1    1846311
2    1617602
3     844259
4      24772
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_ANO_CONCLUIU
0     2682906
1      413107
2      240755
3      174070
4      103282
5       99939
6       78204
7       66158
8       51413
9       44271
10      39206
11      33998
12      30482
13      25424
14      24567
15      22193
16      19272
17      19074
18     164623
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_ENSINO
1.0    1536277
2.0       9605
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ESC_PAI
Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental     498410
Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.       568667
Completou a Faculdade, mas não completou a Pós-graduação                                   375864
Completou a Pós-graduação.                                                                 298849
Completou o Ensino Médio, mas não completou a Faculdade                                   1239869
Nunca estudou                                                                              180660
Não completou a 4ª série/5º ano do Ensino Fundamental                                      684947
Não sei                                                                                    485678
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ESC_MAE
Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental     410662
Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.       601029
Completou a Faculdade, mas não completou a Pós-graduação                                   508395
Completou a Pós-graduação.                                                                 512679
Completou o Ensino Médio, mas não completou a Faculdade                                   1533391
Nunca estudou                                                                              112113
Não completou a 4ª série/5º ano do Ensino Fundamental                                      479291
Não sei                                                                                    175384
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

QTD_PESSOAS_CASA
1      149354
2      628406
3     1204450
4     1366605
5      623169
6      216244
7       80950
8       34909
9       12837
10       8487
11       2582
12       1912
13        784
14        424
15        478
16        183
17        126
18        124
19         85
20        835
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

POSSUI_RENDA
Não    1193896
Sim    3139039
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

RENDA_FAM
Acima de R$ 28.240,00                 58703
Até R$ 1.412,00                     1428530
De R$ 1.412,01 até R$ 2.118,00       757968
De R$ 11.296,01 até R$ 12.708,00      37011
De R$ 12.708,01 até R$ 14.120,00      38745
De R$ 14.120,01 até R$ 16.944,00      42467
De R$ 16.944,01 até R$ 21.180,00      53491
De R$ 2.118,01 até R$ 2.824,00       330273
De R$ 2.824,01 até R$ 3.530,00       307554
De R$ 21.180,01 até R$ 28.240,00      35851
De R$ 3.530,01 até R$ 4.236,00       230987
De R$ 4.236,01 até R$ 5.648,00       217625
De R$ 5.648,01 até R$ 7.060,00       174829
De R$ 7.060,01 até R$ 8.472,00        82032
De R$ 8.472,01 até R$9.884,00         63488
De R$ 9.884,01 até R$ 11.296,00       81050
Nenhuma Renda                        392340
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

EMPREGADA
Não                                      3981885
Sim, pelo menos cinco dias por semana      93990
Sim, três ou quatro dias por semana        38464
Sim, um ou dois dias por semana           218604
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

CARRO
Não                                      2350780
Sim, pelo menos cinco dias por semana      60263
Sim, três ou quatro dias por semana       374556
Sim, um ou dois dias por semana          1547345
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

GELADEIRA
Não                                        97945
Sim, pelo menos cinco dias por semana      22324
Sim, três ou quatro dias por semana       215937
Sim, um ou dois dias por semana          3996738
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

FREEZER
Não                                3776744
Sim, um ou dois dias por semana     556200
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

MQ_LAVAR_ROUPA
A    1685640
B    2647304
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

ASPIRADOR_PO
Não                                3311518
Sim, um ou dois dias por semana    1021426
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TELEVISAO
Não                                       424386
Sim, pelo menos cinco dias por semana     398457
Sim, três ou quatro dias por semana       740688
Sim, um ou dois dias por semana          2769413
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

WI_FI
Não                                 533507
Sim, um ou dois dias por semana    3799437
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

PC
E                                          72210
Não                                      2128452
Sim, pelo menos cinco dias por semana     162078
Sim, três ou quatro dias por semana       432995
Sim, um ou dois dias por semana          1537209
dtype: int64

/usr/local/lib/python3.11/dist-packages/dask_expr/_groupby.py:1554: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  self._meta = self.obj._meta.groupby(

TP_ESCOLA_EM
Não frequentei escola de Ensino Médio                                               13227
Parte em escola pública e parte em escola privada com bolsa de estudo integral      80173
Parte em escola pública e parte em escola privada sem bolsa de estudo integral     163177
Somente em escola privada com bolsa de estudo integral                             163271
Somente em escola privada sem bolsa de estudo integral                             630313
Somente em escola pública                                                         3282783
dtype: int64

In [ ]:
print('Resumo estatístico das colunas:')
df_padronizado.describe().compute()

Resumo estatístico das colunas:

       NU_INSCRICAO     NU_ANO
count  4.332944e+06  4332944.0
mean   2.100643e+11     2024.0
std    1.279403e+06        0.0
min    2.100621e+11     2024.0
25%    2.100632e+11     2024.0
50%    2.100643e+11     2024.0
75%    2.100652e+11     2024.0
max    2.100665e+11     2024.0

Escrita da base

In [ ]:
df_padronizado.to_parquet(
    'enem_1998/',
    engine='pyarrow',           # recomendado
    compression='snappy',       # rápido e eficiente
    write_index=False           # geralmente desnecessário em cargas
)

# df.to_csv("enem_1998.csv", single_file=True, index=False) #Escrita em csv

/usr/local/lib/python3.11/dist-packages/pyarrow/pandas_compat.py:625: FutureWarning: The dtype of the 'categories' of the passed categorical values (int64) does not match the specified type (string). For now ignoring the specified type, but in the future this mismatch will raise a TypeError
  arrays = [convert_column(c, f)
/usr/local/lib/python3.11/dist-packages/pyarrow/pandas_compat.py:625: FutureWarning: The dtype of the 'categories' of the passed categorical values (int64) does not match the specified type (string). For now ignoring the specified type, but in the future this mismatch will raise a TypeError
  arrays = [convert_column(c, f)
/usr/local/lib/python3.11/dist-packages/pyarrow/pandas_compat.py:625: FutureWarning: The dtype of the 'categories' of the passed categorical values (float64) does not match the specified type (string). For now ignoring the specified type, but in the future this mismatch will raise a TypeError
  arrays = [convert_column(c, f)
/usr/local/lib/python3.11/dist-packages/pyarrow/pandas_compat.py:625: FutureWarning: The dtype of the 'categories' of the passed categorical values (int64) does not match the specified type (string). For now ignoring the specified type, but in the future this mismatch will raise a TypeError
  arrays = [convert_column(c, f)
/usr/local/lib/python3.11/dist-packages/pyarrow/pandas_compat.py:625: FutureWarning: The dtype of the 'categories' of the passed categorical values (int64) does not match the specified type (string). For now ignoring the specified type, but in the future this mismatch will raise a TypeError
  arrays = [convert_column(c, f)
/usr/local/lib/python3.11/dist-packages/pyarrow/pandas_compat.py:625: FutureWarning: The dtype of the 'categories' of the passed categorical values (float64) does not match the specified type (string). For now ignoring the specified type, but in the future this mismatch will raise a TypeError
  arrays = [convert_column(c, f)
/usr/local/lib/python3.11/dist-packages/pyarrow/pandas_compat.py:625: FutureWarning: The dtype of the 'categories' of the passed categorical values (int64) does not match the specified type (string). For now ignoring the specified type, but in the future this mismatch will raise a TypeError
  arrays = [convert_column(c, f)
/usr/local/lib/python3.11/dist-packages/pyarrow/pandas_compat.py:625: FutureWarning: The dtype of the 'categories' of the passed categorical values (float64) does not match the specified type (string). For now ignoring the specified type, but in the future this mismatch will raise a TypeError
  arrays = [convert_column(c, f)
/usr/local/lib/python3.11/dist-packages/pyarrow/pandas_compat.py:625: FutureWarning: The dtype of the 'categories' of the passed categorical values (int64) does not match the specified type (string). For now ignoring the specified type, but in the future this mismatch will raise a TypeError
  arrays = [convert_column(c, f)
/usr/local/lib/python3.11/dist-packages/pyarrow/pandas_compat.py:625: FutureWarning: The dtype of the 'categories' of the passed categorical values (float64) does not match the specified type (string). For now ignoring the specified type, but in the future this mismatch will raise a TypeError
  arrays = [convert_column(c, f)